.mobile-col {
  @media (max-width: 992px) {
    background: white;
    border-radius: 100px;
    text-align: center;

    div {
      width: 100%;
    }
    h2 {
      font-size: 1.2em;
    }
  }
}
ion-grid {
  margin: 0 auto !important;
  max-width: 1024px !important;
}
.hero {
  position: relative;
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    width: 100%;
  }

  h2 {
    position: absolute;
    top: 15%;
    left: 20%;
    max-width: 32%;
    color: #fff;
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.4em;

    @media (max-width: 1024px) {
      max-width: 60%;
      font-size: 1.4em;
    }
  }
}

ion-content {
  top: 3.6em;
  height: calc(100% - 3.6em);
}

section {
  &.dark-bg {
    background-color: var(--ion-color-primary);
  }

  &.what {
    padding: 4em;

    @media (max-width: 1024px) {
      padding: 2em;
    }

    h2 {
      color: #fff;
      font-weight: 500;
      font-size: 1.4m;
      line-height: 1.4em;
      margin-bottom: 1.6em;
      @media (max-width: 1024px) {
        font-size: 1.2em;
      }
    }

    p {
      color: #fff;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.4em;
      margin: 0;
      @media (max-width: 1024px) {
        font-size: 1.1em;
      }
    }
  }

  &.mobile {
    position: relative;
    padding: 4em;

    @media (max-width: 1024px) {
      padding: 2em;
    }

    .right {
      padding-top: 10%;
    }

    .bottom-fixed {
      height: 40%;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      background-color: var(--ion-color-primary);
    }

    h2 {
      font-weight: 500;
      font-size: 1.4em;
      line-height: 1.4em;
      margin-bottom: 1.4em;

      span {
        color: var(--ion-color-primary);
      }
    }

    p {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.4em;
      margin: 0 0 1.4em 0;
      @media (max-width: 1024px) {
        font-size: 1.1em;
      }
    }

    a {
      margin-right: 1em;
    }
  }

  &.features {
    position: relative;
    padding: 4em;

    @media (max-width: 1024px) {
      padding: 2em;
    }

    h2 {
      font-weight: 500;
      font-size: 1.6em;
      line-height: 1.4em;
      margin-bottom: 2em;
      text-align: center;
      @media (max-width: 1024px) {
        font-size: 1.2em;
        margin-bottom: 1.4em;
      }
    }

    .container {
      position: relative;
    }

    .feature-item {
      text-align: center;

      .icon {
        height: 4em;
      }

      .text {
        max-width: 60%;
        margin: 2em auto 3em;
      }
    }
  }

  &.bottom {
    position: relative;

    .bottom-fixed {
      width: 100%;
      height: 44%;
      display: block;
      background-color: var(--ion-color-primary);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .container {
      position: relative;

      .img-container {
        width: 100%;
        padding: 2em auto;

        img {
          width: 100%;
          border-radius: 1em;
        }

        .tags {
          padding-top: 1em;
          padding-bottom: 3em;
          color: #ffffff;
          text-align: center;

          .seperator {
            width: 24px;
            margin: 0 0.7em -4px 0.7em;
          }
        }
      }
    }
  }
}
