<ion-content>
  <div class="container">
    <div class="hero" style="background-image: url(../../../assets/landing/hero.png);">
      <h2>
        Doğru ve ihtiyaca yönelik hediyeler seçebilmek için <br> Wish a Link’e üye olun.
      </h2>
    </div>
  </div>
  <section id="what" class="what dark-bg">
    <div class="container">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="d-flex ion-align-items-center" size="12" size-lg="7">
            <div>
              <h2>
                İstediğiniz konu üzerine listeler oluşturarak tercihlerinize göre hediye seçimlerinde bulunabilir, özel
                günlerinizde ihtiyacınıza göre hediyeler alabilir ve verebilirsiniz.
              </h2>
              <p>
                Sadece kendiniz için değil evcil hayvanınız için de listeler oluşturabilirsiniz.
              </p>
            </div>
          </ion-col>
          <ion-col class="d-flex ion-align-items-center" size="12" size-lg="5" class="ion-text-center">
            <img src="../../../assets/landing/logo-lg.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section id="mobile" class="mobile">
    <div class="container">
      <div class="bottom-fixed dark-bg"></div>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="d-flex ion-align-items-center" size="12" size-lg="5" class="ion-text-center">
            <img src="../../../assets/landing/mobile.png" alt="">
          </ion-col>
          <ion-col class="d-flex right" size="12" size-lg="7">
            <div>
              <div>
                <h2>
                  Doğru ve ihtiyaca yönelik hediyeler seçebilmek için <span>WİSH A LINK</span>’e hoşgeldiniz!
                </h2>
                <p>
                  İstek listenizi oluşturun ve paylaşın.
                </p>
              </div>
              <div>
                <a href="#app-store">
                  <img src="../../../assets/landing/app-store.png" alt="">
                </a>
                <a href="#google-play">
                  <img src="../../../assets/landing/google-play.png" alt="">
                </a>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <h2>Wish a Link’i sevmek için birçok yararlı özellik</h2>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon"><img src="../../../assets/landing/icon-bell.svg" alt="Hatırlatmalar"></div>
            <div class="text">Doğum günü ve özel gün için hatırlatmalar alınız</div>
          </ion-col>
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon"><img src="../../../assets/landing/icon-gift.svg" alt="Fikirler"></div>
            <div class="text">Kendiniz ve evcil hayvanınız için hediye fikirleri kaydediniz</div>
          </ion-col>
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon"><img src="../../../assets/landing/icon-comment.svg" alt="Yorumlar"></div>
            <div class="text">Kullandığınız ürünler hakkında yorum yapınız</div>
          </ion-col>
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon"><img src="../../../assets/landing/icon-user-plus.svg" alt="Arkadaşlar"></div>
            <div class="text">Arkdaşlarınızı takip ederek hediye almayı kolaylaştırınız</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="bottom">
    <div class="bottom-fixed dark-bg"></div>

    <div class="container">
      <div class="img-container">
        <img src="../../../assets/landing/bottom-gifts.jpg" alt="Wish A Link">
        <div class="tags">
          <span>Doğum Günü</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="">
          <span>Düğün</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="">
          <span>Sevgililer Günü</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="">
          <span>Yılbaşı</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="">
          <span>Evlilik Yıl Dönümü</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="">
          <span>Baby Shower</span>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>