<ion-content>
  <div class="container">
    <div class="hero" style="background-image: url(../../../assets/landing/hero.png)">
      <div class="hero-inner">
        <h2 [innerHTML]="'Landing.Hero' | translate"></h2>
      </div>
    </div>
  </div>
  <section id="what" class="what dark-bg">
    <div class="container">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="d-flex ion-align-items-center" size="12" size-lg="7">
            <div>
              <h2 [innerHTML]="'Landing.WhatTitle' | translate"></h2>
              <p [innerHTML]="'Landing.WhatDescription' | translate"></p>
            </div>
          </ion-col>
          <ion-col class="d-flex ion-align-items-center" size="12" size-lg="5" class="ion-text-center">
            <img src="../../../assets/landing/logo-lg.png" alt="" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section id="mobile" class="mobile">
    <div class="container">
      <div class="bottom-fixed dark-bg"></div>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="d-flex ion-align-items-center" size="12" size-lg="5" class="ion-text-center">
            <img style="max-width: 82%" src="../../../assets/landing/mobile.png" alt="" />
          </ion-col>
          <ion-col class="mobile-col d-flex right" size="12" size-lg="7">
            <div>
              <div>
                <h2 [innerHTML]="'Landing.MobileTitle' | translate"></h2>
                <p [innerHTML]="'Landing.MobileDescription' | translate"></p>
              </div>
              <div>
                <a href="https://apps.apple.com/tr/app/wish-a-link/id1590155127" target="_blank">
                  <img style="max-width: 33%" src="../../../assets/landing/app-store.png" alt="" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.wishalink" target="_blank">
                  <img style="max-width: 33%" src="../../../assets/landing/google-play.png" alt="" />
                </a>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <h2 [innerHTML]="'Landing.FeaturesTitle' | translate"></h2>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon">
              <img src="../../../assets/landing/icon-bell.svg" alt="Hatırlatmalar" />
            </div>
            <div class="text" [innerHTML]="'Landing.Feature1' | translate"></div>
          </ion-col>
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon">
              <img src="../../../assets/landing/icon-gift.svg" alt="Fikirler" />
            </div>
            <div class="text" [innerHTML]="'Landing.Feature2' | translate"></div>
          </ion-col>
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon">
              <img src="../../../assets/landing/icon-comment.svg" alt="Yorumlar" />
            </div>
            <div class="text" [innerHTML]="'Landing.Feature3' | translate"></div>
          </ion-col>
          <ion-col size="6" size-md="4" class="feature-item">
            <div class="icon">
              <img src="../../../assets/landing/icon-user-plus.svg" alt="Arkadaşlar" />
            </div>
            <div class="text" [innerHTML]="'Landing.Feature4' | translate"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="bottom">
    <div class="bottom-fixed dark-bg"></div>

    <div class="container">
      <div class="img-container">
        <img src="../../../assets/landing/bottom-gifts.jpg" alt="Wish A Link" />
        <div class="tags">
          <span>{{ "Landing.BottomItem1" | translate }}</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="" />
          <span>{{ "Landing.BottomItem2" | translate }}</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="" />
          <span>{{ "Landing.BottomItem3" | translate }}</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="" />
          <span>{{ "Landing.BottomItem4" | translate }}</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="" />
          <span>{{ "Landing.BottomItem5" | translate }}</span>
          <img class="seperator" src="../../../assets/landing/icon-arrow-right.svg" alt="" />
          <span>{{ "Landing.BottomItem6" | translate }}</span>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

  <div style="display: block; height: 3.6em;"></div>
</ion-content>