<ion-content>
    <div class="main">
        <div class="top-container">
    <span (click)="openNotification()" class="notification-content">
      <img src="../../../../assets/svg/tabs/notification-light.svg" alt="Icon">
      <div *ngIf="userData != null && userData.notificationCount > 0" class="badge-notification">
        {{ userData.notificationCount }}
    </div>
    </span>
            <div class="page-title ion-margin-top ion-text-center">
                Ayarlar
            </div>
            <div routerLink="/profile-settings" class="profile-content">
                <div class="person-info">
                    <div class="img-container"><img [src]="userData?.profilePictureUrl" alt=""></div>
                    <div class="name-text">{{userData?.fullName}}</div>
                </div>
                <div>
                    <img src="../../../../assets/svg/abstract/right-arrow-blue.svg" alt="Icon">
                </div>
            </div>
        </div>
        <div class="main-content">
            <div (click)="shareApp()" class="inner-item">
                <div class="list-item">
                    <div class="icon-container">
                        <img src="../../../../assets/svg/settings/add.svg" alt="Icon">
                    </div>
                    <div class="item">Arkadaş Davet</div>
                </div>
                <div><img src="../../../../assets/svg/abstract/right-arrow-blue.svg" alt="Icon"></div>
            </div>
            <div class="inner-item">
                <div routerLink="/change-password" class="list-item">
                    <div class="icon-container">
                        <ion-icon style="color: #FFFFFF;font-weight: bold;font-size: 1.5rem;" name="lock-closed-outline"></ion-icon>
                    </div>
                    <div class="item">Şifreyi Değiştir</div>
                </div>
                <div><img src="../../../../assets/svg/abstract/right-arrow-blue.svg" alt="Icon"></div>
            </div>
<!--            <div class="inner-item">-->
<!--                <div class="list-item">-->
<!--                    <div class="icon-container">-->
<!--                        <img src="../../../../assets/svg/settings/notification.svg" alt="Icon">-->
<!--                    </div>-->
<!--                    <div class="item">Bildirim Ayarları</div>-->
<!--                </div>-->
<!--                <div><img src="../../../../assets/svg/abstract/right-arrow-blue.svg" alt="Icon"></div>-->
<!--            </div>-->
<!--            <div class="inner-item">-->
<!--                <div class="list-item">-->
<!--                    <div class="icon-container">-->
<!--                        <img src="../../../../assets/svg/settings/setting.svg" alt="Icon">-->
<!--                    </div>-->
<!--                    <div class="item">Hesap Ayarları</div>-->
<!--                </div>-->
<!--                <div><img src="../../../../assets/svg/abstract/right-arrow-blue.svg" alt="Icon"></div>-->
<!--            </div>-->
            <div class="inner-item" (click)="logout()">
                <div class="list-item">
                    <div class="icon-container">
                        <img src="../../../../assets/svg/settings/logout.svg" alt="Icon">
                    </div>
                    <div class="item">Çıkış Yap</div>
                </div>
                <div><img src="../../../../assets/svg/abstract/right-arrow-blue.svg" alt="Icon"></div>
            </div>
        </div>
    </div>

</ion-content>
