<ion-header mode="ios" trasculent="true" class="dark back-only ion-no-border" *ngIf="appService.isMobile">
    <ion-toolbar>
        <ion-buttons slot="start">
            <div routerLink="/app/settings" routerDirection="back" class="back-button">
                <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [class.dark]="appService.isMobile" fullscreen="true">
    <div class="page-container">
        <div class="lead" [class.m-4]="!appService.isMobile">
            <h2>
                {{'Settings.PasswordChange' | translate}}
                <div class="vertical-dots" *ngIf="appService.isMobile">
                    <img src="../../../assets/svg/login/vertical-dots.svg" alt="Icon">
                </div>
            </h2>
        </div>
        <div class="bottom-container">
            <div class="bottom-content">
                <div class="input-container mb-3">
                    <ion-item class="mb-3">
                        <input [(ngModel)]="oldPassword" class="p-inputtext" type="password"
                            placeholder="{{'CurrentPassword' | translate}}">
                    </ion-item>
                    <ion-item class="mb-3">
                        <input [(ngModel)]="newPassword" class="p-inputtext" type="password"
                            placeholder="{{'NewPassword' | translate}}">
                    </ion-item>
                    <ion-item>
                        <input [(ngModel)]="repeatPassword" class="p-inputtext" type="password"
                            placeholder="{{'RepeatPassword' | translate}}">
                    </ion-item>
                </div>
                <div class="ion-padding py-1">
                    <ion-button color="primary" expand="block" type="button" (click)="changePassword()"
                        [disabled]="isLoading" class="success">
                        <ion-spinner name="lines-small" *ngIf="isLoading"></ion-spinner>
                        <span *ngIf="!isLoading">{{'Update' | translate}}</span>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>