ion-slides {
  height: 98%;
}

.swiper-slide {
  display: block;
  background: #6a40d6;
  border-radius: 20px;
}

.swiper-slide h2 {
  color: var(--ion-text-color, #ffffff);

  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 100px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #dbdbdb);
}

p b {
  color: var(--ion-text-color, #ffffff);
}
