<ion-content fullscreen class="" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/landing/logo-lg.png" alt="" />

        <h2>Hoşgeldiniz</h2>
        <p>
          Doğru ve ihtiyaca yönelik hediyeler seçebilmek size özel birçok
          özellik ve ayrıcalıklara ulaşmak için
          <b>Wish a Link’e</b> üye olun.
        </p>
      </div>
      <ion-item style="padding-top: 25px">
        <ion-button slot="end" (click)="slideNext()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <img
        style="max-width: 55% !important"
        src="../../../assets/landing/gifts.png"
        alt=""
      />

      <p style="padding: 0 30px; font-size: 20px">
        İstediğiniz konu üzerine listeler oluşturarak tercihlerinize göre hediye
        seçimlerinde bulunabilir, özel günlerinizde ihtiyacınıza göre hediyeler
        alabilir ve verebilirsiniz.
      </p>
      <ion-item style="padding-top: 25px">
        <ion-button slot="start" (click)="slidePrev()">
          <ion-icon slot="end" name="arrow-back"></ion-icon
        ></ion-button>
        <ion-button slot="end" (click)="slideNext()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <img
        style="max-width: 55% !important"
        src="../../../assets/landing/smartphone.png"
        alt=""
      />
      <p style="padding: 0 35px; font-size: 20px">
        Doğum günü ve özel günleriniz için hatırlatmalar <b>Wish a Link</b> ile
        size bildirime hazır. Unutmamanız için her an yanınızdayız.
      </p>
      <ion-item style="padding-top: 25px">
        <ion-button slot="start" (click)="slidePrev()">
          <ion-icon slot="end" name="arrow-back"></ion-icon
        ></ion-button>
        <ion-button slot="end" (click)="slideNext()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <img
        style="
          background: #816ae2;
          max-width: 55% !important;
          border-radius: 10%;
        "
        src="../../../assets/landing/comments.png"
        alt=""
      />
      <p style="padding: 0 35px; font-size: 20px">
        Arkdaşlarınızı takip ederek hediye almayı kolaylaştırır ve kullandığınız
        ürünler hakkında yorum yaparak yardımcı olursunuz.
      </p>
      <ion-item style="padding-top: 25px">
        <ion-button slot="start" (click)="slidePrev()">
          <ion-icon slot="end" name="arrow-back"></ion-icon
        ></ion-button>
        <ion-button slot="end" (click)="slideNext()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <img
        style="max-width: 55% !important"
        src="../../../assets/landing/vote.png"
        alt=""
      />
      <h2>Şimdi Üye Olmaya Hazırsın</h2>
      <ion-button (click)="login()"
        >Devam <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
