:host {
  .page-content {
    ion-slides {
      margin-top: 16px;

      ion-slide {
        padding: 0 4px;

        ion-item {
          --inner-border-width: 0;
          width: 100%;
          border-radius: 10px;
          margin-bottom: 10px;

          input {
            width: 100%;
            outline: none;
            margin: 0 0 6px 0;
            border: 0;
          }
        }
      }
    }
  }

  ion-footer {
    background: #ecedf2;

    p {
      margin: 0;
      padding-left: 4px;
    }
  }
}



form {
  padding: 0 24px;
  .validation-message {
    display: none;
  }

  ion-item.ng-touched.ng-invalid,
  ion-item.ion-touched.ion-invalid {
    --background: #ffe6e6;

    .validation-message {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 2px 4px;
      margin: 0;
      font-size: 0.6em;
      background-color: #ffc5c5;
      border-radius: 4px;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}


ion-item {
--inner-border-width: 0;
border-radius: 6px;
margin-bottom: 6px;
}

ion-item{
--background: rgba(0, 0, 0, 0.05);
}