:host {
  @media (max-width: 900px) {
    .sizePadding {
      padding-right: 25px;
    }
  }
  .lang-selector {
    position: absolute;
    right: 1em;
    top: 0.5em;
    ion-button {
      //--color: #b4aeea;
    }
    ion-item {
      width: 0 !important;
    }
  }
  @media (max-width: 1000px) {
    ion-searchbar {
      // display: none;
      max-width: 350px;
    }
  }
  @media (max-width: 800px) {
    ion-searchbar {
      // display: none;
      max-width: 200px;
    }
  }
  ion-searchbar {
    --background: white;
  }
  ion-header {
    color: var(--ion-color-medium);
    font-size: 0.9em;
    height: 4em !important;
    background-color: var(--ion-color-primary);
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 0;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1em;

    &:hover {
      color: var(--ion-color-medium);
    }
  }
  .btn-log {
    --color: #6a40d6 !important;
    --background: white;
  }
  .btn-log:hover {
    --color: white !important;
  }
  .social-btn {
    --border-radius: 2em;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0.6em;
    --padding-end: 0.5em;
    width: 2.4em;
    height: 2.4em;
    margin-right: 1em;

    ion-icon {
      color: #fff;
      font-size: 1.3em;
    }

    ion-badge {
      position: absolute;
      top: 0.2em;
      right: -0.2em;
      color: var(--ion-color-primary);
      background: #ffffff;
      font-size: 0.6em;
      width: 1.4em;
      height: 1.4em;
      padding: 0.2em;
    }
  }

  .logo {
    max-height: 3.4em;
    margin: 0.4em 1em 0.4em 0;
    cursor: pointer;
  }

  ion-grid {
    margin: 0 auto;
    max-width: 1024px;
    ion-row {
      padding-left: 0;
      padding-right: 0;
    }

    .left {
      .copyright {
        display: inline-block;
      }
    }
  }
}

::ng-deep {
  .searchbar-input {
    font-size: 0.9em !important;
  }
}
