<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        size="6"
        class="d-flex ion-align-items-center ion-justify-content-start"
      >
        <img
          routerLink="/app/home"
          src="../../../../assets/logo.png"
          alt="Wish A Link"
          class="logo"
        />
        <ion-searchbar
          mode="ios"
          debounce="500"
          (ionInput)="searchFunc($event.target.value)"
          *ngIf="boolUser"
        ></ion-searchbar>
      </ion-col>
      <ion-col
        *ngIf="!boolUser"
        size="6"
        class="ion-align-items-center ion-justify-content-end"
      >
        <ion-button class="btn-log" routerLink="/login"> Giriş Yap </ion-button>
      </ion-col>
      <ion-col
        *ngIf="boolUser"
        size="6"
        class="d-flex ion-align-items-center ion-justify-content-end"
      >
        <ion-button routerLink="/app/campaign" class="social-btn">
          <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
        </ion-button>
        <!-- <ion-button routerLink="/app/activity" class="social-btn">
          <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
        </ion-button> -->
        <ion-button routerLink="/app/suggestion" class="social-btn">
          <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
          <!-- <ion-icon name="chatbubble-outline"></ion-icon> -->
        </ion-button>
        <ion-button routerLink="/app/profile/me" class="social-btn">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>

        <ion-button routerLink="/app/settings" fill="clear" class="social-btn">
          <ion-icon name="list-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="openNotification()">
          <img src="../../../../assets/svg/home/notification.svg" alt="Icon" />
          <ion-badge *ngIf="appService.unreadNotificationsCount > 0">{{
            appService.unreadNotificationsCount
          }}</ion-badge>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
