<ion-header mode="ios">
    <div class="shrinkable">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/app/settings" color="dark" text=""></ion-back-button>
            </ion-buttons>
            <ion-title> {{'Expenses.title' | translate}} </ion-title>
            <ion-buttons slot="end">
                <ion-button [color]="isFilterActive ? 'primary' : 'default'" (click)="toggleFilter()">
                    <div [hidden]="isFilterActive || !hasFilter" class="badge"></div>
                    <ion-icon [name]="isFilterActive ? 'funnel' : 'funnel-outline'"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </div>

    <ion-list class="filter-list" [class.active]="isFilterActive">
        <ion-item>
            <ion-label>{{'Operating' | translate}}</ion-label>
            <ion-select placeholder="{{'Select' | translate}}" [(ngModel)]="selectedInstitution" okText="{{'Ok' | translate}}" cancelText="{{'Canel' | translate}}">
                <ion-select-option value="">{{'All' | translate}}</ion-select-option>
                <ion-select-option *ngFor="let institution of institutions" [value]="institution">{{institution}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'PaymentType' | translate}}</ion-label>
            <ion-select placeholder="{{'Select' | translate}}" [(ngModel)]="selectedPaymentType" okText="{{'Ok' | translate}}" cancelText="{{'Canel' | translate}}">
                <ion-select-option value="">{{'All' | translate}}</ion-select-option>
                <ion-select-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">{{getPaymentType(paymentType)}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'Status' | translate}}</ion-label>
            <ion-select placeholder="{{'Select' | translate}}" [(ngModel)]="selectedPaymentStatus" okText="{{'Ok' | translate}}" cancelText="{{'Canel' | translate}}">
                <ion-select-option value="">{{'All' | translate}}</ion-select-option>
                <ion-select-option *ngFor="let paymentStatus of paymentStatuses" [value]="paymentStatus">{{getPaymentStatus(paymentStatus)}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>{{'Start' | translate}}</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" placeholder="{{'SelectDate' | translate}}" [(ngModel)]="selectedStartDate" [monthNames]="monthNames" doneText="{{'Ok' | translate}}" cancelText="{{'Canel' | translate}}"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>{{'End' | translate}}</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" placeholder="{{'SelectDate' | translate}}" [(ngModel)]="selectedEndDate" [monthNames]="monthNames" doneText="{{'Ok' | translate}}" cancelText="{{'Canel' | translate}}"></ion-datetime>
        </ion-item>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button size="small" expand="block" color="light" (click)="reset()">{{'ClearFilter' | translate}}</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button size="small" expand="block" color="primary" (click)="filter()">{{'Filter' | translate}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-header>

<ion-content>
    <div class="page-content">
        <ion-list class="gap-list" *ngIf="payments != null && payments.length > 0">
            <ion-item *ngFor="let payment of payments" (click)="openDetail(payment)" hasDetail="true">
                <ion-label position="stacked">
                    <h3>{{ payment.institutionName }} - {{ payment.branchName }}</h3>
                    <p>{{ getPaymentType(payment.paymentType) }} - {{ getPaymentStatus(payment.paymentStatus) }}</p>
                    <p>{{ appService.getFormattedDate(payment.paymentTimeStamp)    }}</p>
                </ion-label>
                <div slot="end">
                    <p>
                        {{ payment.paymentAmountTRY }} TL
                    </p>
                </div>
            </ion-item>
        </ion-list>
        <ion-card>
            <ion-card-content class="ion-text-center" *ngIf="payments == null || payments.length == 0">
                {{'PaymentNotFound' | translate}}
            </ion-card-content>
        </ion-card>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="getData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading' | translate}}">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>