ion-list {
  background-color: transparent;
}

ion-radio {
  border-radius: 50%;
  border: 2px solid gray;
  width: 24px;
  height: 24px;
}

ion-footer {
  background: #ecedf2;

  p {
    margin: 0;
    padding-left: 4px;
  }
}
