<ion-content>
    <div class="main">
        <div class="top-container mb-4">
      <span routerLink="/tabs/settings" routerDirection="back">
        <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
      </span>
            <div class="page-title ion-justify-content-center d-flex ion-align-items-center ion-margin-top ion-text-center">
                Şifreyi Değiştir
            </div>
        </div>
        <div class="main-content px-4">
            <div class="img-container-absolute">
                <img src="../../../assets/svg/home/avatar.png" alt="Img">
            </div>
            <div class="input-container mb-5">
                <ion-input class="ion-margin-bottom" [(ngModel)]="oldPassword" type="password" placeholder="Mevcut Şifre"></ion-input>
                <ion-input class="ion-margin-bottom" [(ngModel)]="newPassword" type="password" placeholder="Yeni Şifre"></ion-input>
                <ion-input class="ion-margin-bottom" [(ngModel)]="repeatPassword" type="password" placeholder="Yeni Şifre Onay"></ion-input>
            </div>
            <div class="ion-text-center">
                <button (click)="changePassword()" [disabled]="isLoading" class="success">{{isLoading ? 'şifre değiştiriliyor...' : 'Değiştir'}}</button>
            </div>
        </div>
    </div>
</ion-content>
