<ion-header mode="ios" trasculent="true" class="back-only ion-no-border">
    <div class="shrinkable">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button default-href=".." color="dark" text=""></ion-back-button>
            </ion-buttons>
            <ion-title>Kampanyalar</ion-title>
        </ion-toolbar>
    </div>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of campaign" (click)="openDetail(item)">
        <img [src]="item.mediaUrl"/>
        <ion-card-header class="is-relative">
            <ion-card-title>{{item.name}}</ion-card-title>
            <ion-card-subtitle class="mt-1">{{item.subTitle}}</ion-card-subtitle>
            <div class="campaign-open">
                <ion-button slot="end" fill="clear" color="dark">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-header>
    </ion-card>
</ion-content>
