<ion-content>
    <div class="main">
        <div class="top-container mb-4">
            <span routerLink="/app/settings" routerDirection="back">
                <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
            </span>
            <div
                class="page-title ion-justify-content-center d-flex ion-align-items-center ion-margin-top ion-text-center">
                Profil ayarları
            </div>
        </div>
        <div class="main-content pt-3 px-4">
            <div class="img-container-absolute">
                <img [src]="profilePictureUrl == null || profilePictureUrl.length == 0 ? '../../../../assets/svg/home/avatar.png' : profilePictureUrl"
                alt="">
                <div (click)="presentActionSheet()" class="options">
                    <img src="../../../../assets/svg/abstract/add.svg" alt="Icon">
                </div>
            </div>
            <div class="arrange-button ion-text-center mb-4 mt-6" hidden>
                <button class="font-9">Düzenle</button>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="updateUserData()" class="input-container mb-5">
                <ion-item>
                    <input class="p-inputtext" formControlName="firstName" placeholder="Ad" />
                </ion-item>
                <ion-item>
                    <input class="p-inputtext" formControlName="lastName" placeholder="Soyad" />
                </ion-item>
                <ion-item>
                    <input class="p-inputtext" formControlName="email" placeholder="E-posta" />
                </ion-item>
                <div class="ion-text-center">
                    <ion-item>
                        <ion-button type="submit" [disabled]="isLoading || !updateForm.valid" class="success"
                            color="primary" expand="block">{{isLoading ? 'Lütfen bekleyiniz...' : 'Kaydet'}}
                        </ion-button>
                    </ion-item>

                </div>
            </form>
        </div>
    </div>
</ion-content>