.main {
  background: #6a40d6;
  height: 50%;

  .top-container {
    height: auto;
    padding: 26px;

    .page-title {
      width: 100%;
      font-size: 24px;
      line-height: 27px;
      color: #ffffff;
      margin-bottom: 24px;
    }
  }
}

.main-content {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background: #ffffff;
  position: relative;
  padding-bottom: 38%;
  .badge {
    width: 48px;
    background: #1e90ff;
    border-radius: 6px;
    height: 18px;
    color: #ffffff;
  }

  ion-badge {
    --padding-top: 4px;
    --padding-end: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    font-size: 10px;
    
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  button {
    background: transparent;
    color: #6a40d6;
  }
  .writing-area {
    border-radius: 1rem;
    border: 1px solid #6a40d5;
    padding: 1rem 0.5rem;
    min-height: 288px;
  }
  .img-container-absolute {
    position: absolute;
    top: -50px;
    width: 80px;
    height: 96px;
    overflow: hidden;
    border-radius: 1rem;
    right: 0;
    left: 0;
    margin: auto;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.mt-6 {
  margin-top: 2.4rem;
}
