<ion-content>
  <div class="main">
    <div class="top-container mb-4">
      <span (click)="close()">
        <img src="../../../../assets/svg/abstract/back-icon.svg" alt="Icon">
      </span>
      <div class="page-title ion-justify-content-center d-flex ion-align-items-center ion-margin-top ion-text-center">
        <div class="mr-2 font-24">
          {{ post.name }}
        </div>
        <div class="d-flex">
          <img (click)="redirectToUrl(post.url)" src="../../../../assets/svg/abstract/share-icon.svg" alt="Icon">
        </div>
      </div>
    </div>
    <div class="main-content pt-3 px-4">
      <div class="img-container-absolute">
        <img [src]="post.mediaUrl" alt="">
      </div>
      <div class="ion-text-end" hidden>
        <button class="font-9">Duzenle</button>
      </div>
      <div class="mt-6 mb-4 d-flex ion-align-items-center ion-justify-content-center ion-text-center">
        <div class="mr-4 d-flex"><img src="../../../../assets/svg/abstract/like.svg" alt="Icon"></div>
        <div class="d-flex"><img src="../../../../assets/svg/abstract/dislike.svg" alt="Icon"></div>
      </div>
      <div class="ion-text-center">
        <ion-badge class="product-tag" color="primary" *ngIf="post.brand != null && post.brand.length > 0">{{
          post.brand
          }}</ion-badge>
        <ion-badge class="product-tag" color="primary" *ngIf="post.model != null && post.model.length > 0">{{
          post.model
          }}</ion-badge>
        <ion-badge class="product-tag" color="primary" *ngIf="post.color != null && post.color.length > 0">{{
          post.color
          }}</ion-badge>
        <ion-badge class="product-tag" color="primary" *ngIf="post.size != null && post.size.length > 0">{{
          post.size }}
        </ion-badge>
        <ion-badge class="product-tag" color="primary" *ngIf="post.keywords != null && post.keywords.length > 0">{{
          post.keywords }}</ion-badge>
      </div>
      <div class="font-16 mt-5 text-2 ion-text-center ion-margin-bottom">
        Ürün hakkında
      </div>
      <div class="writing-area font-14">
        {{ post.description }}
      </div>
    </div>
  </div>
</ion-content>