ion-button {
    width: 100%;
    width: 36px;
    height: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    --border-radius: 18px;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;

}