<ion-content>
  <div class="main">
    <div class="top-container mb-4">
      <span routerLink="/tabs/suggestion" routerDirection="back">
        <img src="../../../../assets/svg/abstract/back-icon.svg" alt="Icon">
      </span>
      <div class="page-title ion-justify-content-center d-flex ion-align-items-center ion-margin-top ion-text-center">
        <div class="mr-2 font-24">
          Iphone 11
        </div>
        <div class="d-flex">
          <img src="../../../../assets/svg/abstract/share-icon.svg" alt="Icon">
        </div>
      </div>
    </div>
    <div class="main-content pt-3 px-4">
      <div class="img-container-absolute">
        <img src="../../../../assets/svg/abstract/product.png" alt="Img">
      </div>
      <div class="ion-text-end">
        <button class="font-9">Duzenle</button>
      </div>
      <div class="mt-6 mb-4 d-flex ion-align-items-center ion-justify-content-center ion-text-center">
        <div class="mr-4 d-flex"><img src="../../../../assets/svg/abstract/like.svg" alt="Icon"></div>
        <div class="d-flex"><img src="../../../../assets/svg/abstract/dislike.svg" alt="Icon"></div>
      </div>
      <div class="d-flex ion-justify-content-center ion-align-items-center">
        <div class="badge d-flex ion-align-items-center ion-justify-content-center font-9">Apple</div>
        <div class="badge d-flex ion-align-items-center mx-2 ion-justify-content-center font-9">128 GB</div>
        <div class="badge d-flex ion-align-items-center ion-justify-content-center font-9">Siyah</div>
      </div>
      <div class="font-16 mt-5 text-2 ion-text-center ion-margin-bottom">
        Ürün hakkında
      </div>
      <div class="writing-area font-14">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
</ion-content>
