.content {
  padding: 0 24px 30%;
  @media (max-width: 320px) {
    padding: 0 0 30% !important;
  }

  .product-amount {
    font-size: 9px;
    color: #d5d5d5;
    margin-bottom: 1rem;
  }

  .product-title {
    margin-bottom: 3px;
    font-size: 12px;
  }

  .card {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

::ng-deep .action-sheet-group.sc-ion-action-sheet-md:first-child {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  overflow: unset;
  height: 300px;

  button:first-child {
    margin-bottom: 32px;
  }
}

::ng-deep .action-sheet-title.sc-ion-action-sheet-md::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50px;
  right: 0;
  background: #1e90ff;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  box-shadow: 16px 0px 32px rgb(0 0 0 / 24%);
  margin: auto;
  top: -19px;
  background-image: url("../../../../assets/svg/intro/arrow-up.svg");
}

::ng-deep .action-sheet-title.sc-ion-action-sheet-md {
  position: relative;
}

::ng-deep .action-sheet-group.sc-ion-action-sheet-md::after {
  width: 135px;
  height: 5px;
  border-radius: 2.5px;
  background: black;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 8px;
  position: absolute;
  content: "";
}

//::ng-deep .changeProfilePicture{
//  margin-bottom: 32px;
//  height: 56px;
//  padding: 0 1.5rem !important;
//  span{
//    justify-content: center !important;
//    border: 1px solid #6A40D6;
//    border-radius: 16px;
//    color: #6A40D6;
//    font-size: 20px;
//  }
//}
::ng-deep .changeProfilePicture {
  height: 56px;
  margin-bottom: 1rem;
  padding: 0 1.5rem !important;

  span {
    justify-content: flex-start !important;
    background: #1e90ff;
    padding-left: 1rem;
    border-radius: 16px;
    color: white;
    font-size: 20px;
  }
}

::ng-deep .action-sheet-icon.sc-ion-action-sheet-md {
  color: #ffffff;
}
ion-content{
  --padding-top: var(--ion-safe-area-top);
}
.profile-header.fixed {
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  align-items: center;
  top: 0;
  padding-top: var(--ion-safe-area-top);
}
.fixed{
  span{
    padding-top: var(--ion-safe-area-top);
  }
}