<ion-header mode="ios" shrink-header [scrollArea]="scrollArea">
    <div class="shrinkable">
        <ion-toolbar mode="ios">
            <ion-buttons slot="start">
                <ion-back-button text="" defaultHref="/tabs/home" color="dark"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
            </ion-buttons>
        </ion-toolbar>

        <div class="profile">
            <div class="avatar">
                <img [src]="strangerUser == null ? '../../../../assets/svg/home/avatar.png' : strangerUser.profilePictureUrl"
                    alt="">
            </div>
            <div class="name">
                <span>{{strangerUser == null? '&nbsp;' : strangerUser.fullName}}</span>
            </div>
            <div routerLink="community" class="community" [state]="{userData: strangerUser}">
                <div class="follower">
                    <div class="number">{{strangerUser == null ? 0 : strangerUser.followersCount}}</div>
                    <div class="text">Takipçi</div>
                </div>
                <div class="following">
                    <div class="number">{{strangerUser == null ? 0 : strangerUser.followingsCount}}</div>
                    <div class="text">Takip</div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-tabs">
        <div class="tab-container">
            <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
                <ion-segment-button value="segment-category">
                    <ion-label>Kategoriler</ion-label>
                </ion-segment-button>
                <ion-segment-button value="segment-activity">
                    <ion-label>Etkinlikler</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
</ion-header>

<ion-content #scrollArea [scrollEvents]="true" [fullscreen]="true">
    <div *ngIf="selectedSegment == 'segment-category'" class="content">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let category of categories" routerLink="/category-detail"
                    [queryParams]="{categoryId: category.id}" [state]="category" class="ion-text-center" size="4">
                    <div class="card" [ngStyle]="{ 'background-image': 'url(' + category.mediaUrl + ')'}">
                    </div>
                    <div class="product-title">{{ category.name }}</div>
                    <div class="product-amount">{{ category.postCount }} ürün</div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="ion-margin-top" *ngIf="categories == undefined || categories.length === 0">
            <div class="ion-text-center icon-container">
                <ion-icon name="alert-outline"></ion-icon>
            </div>
            <div class="ion-margin-top info-text mt-4 ion-text-center">
                Kullanıcının ürünü bulunmamaktadır.
            </div>
        </div>
    </div>
    <div *ngIf="selectedSegment == 'segment-activity'" class="content">
        <ion-list *ngIf="activities != undefined && activities.length > 0">
            <ion-item *ngFor="let activity of activities">
                <ion-label>
                    <h2>{{ activity.name }}</h2>
                    <p>{{ activity.description }}</p>
                </ion-label>
                <span>{{ activity.startDate | date: 'DD MMM' }}</span>
            </ion-item>
        </ion-list>
        <div class="ion-margin-top" *ngIf="activities == undefined || activities.length === 0">
            <div class="ion-text-center icon-container">
                <ion-icon name="alert-outline"></ion-icon>
            </div>
            <div class="ion-margin-top info-text mt-4 ion-text-center">
                Kullanıcının etkinliği bulunmamaktadır.
            </div>
        </div>
    </div>
</ion-content>