<ion-content>
    <div class="top-container">
    <span (click)="goBack()" class="back-button">
      <img src="../../../../assets/svg/abstract/back-icon-dark.svg" alt="Icon">
    </span>
        <div class="top-avatar mt-1 ion-text-center">
            <div class="avatar-container">
                <img [src]="strangerUser?.profilePictureUrl" alt="Avatar">
            </div>
            <div class="ion-margin-bottom name">
                {{strangerUser?.fullName}}
            </div>
            <div class="follower-content">
                <div class="follower">
                    <div class="number">{{strangerUser?.followersCount}}</div>
                    <div class="text">Takipçi</div>
                </div>
                <div class="following">
                    <div class="number">{{strangerUser?.followingsCount}}</div>
                    <div class="text">Takip</div>
                </div>
            </div>
            <div (click)="selectedUser()" [ngClass]="{'active':!strangerUser?.isFollowing}" class="my-4 badge-container mx-auto font-9 d-flex ion-justify-content-center ion-align-items-center">
                {{strangerUser?.isFollowing ? 'Takibi Bırak' : 'Takip Et'}}
            </div>
            <div class="top-tabs">
                <div class="tab-container">
                    <div class="active">Kategoriler</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let category of categories" routerLink="/category-detail" [queryParams]="{categoryId: category.id}" [state]="category" class="ion-text-center" size="4">
                    <div class="card" [ngStyle]="{ 'background-image': 'url(' + category.mediaUrl + ')'}" >
                    </div>
                    <div class="product-title">{{ category.name }}</div>
                    <div class="product-amount">{{ category.postCount }} ürün</div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="ion-margin-top" *ngIf="categories == undefined || categories.length === 0">
            <div class="ion-text-center icon-container">
                <ion-icon name="alert-outline"></ion-icon>
            </div>
            <div class="ion-margin-top info-text ion-text-center">
                Kullanıcının ürünü bulunmamaktadir.
            </div>
        </div>
    </div>
</ion-content>
