<ion-content>
  <div class="main">
    <div class="top-container">
      <div class="page-title ion-margin-top ion-text-center">
        Kategori oluştur
      </div>
    </div>
    <div class="main-content">
      <div>
        <div routerLink="/tabs" routerDirection="back" class="exit-container">
          <img src="../../../assets/svg/abstract/exit.svg" alt="Icon">
        </div>
        <div class="top-tabs" hidden>
          <div class="tab-container">
            <div class="active">Kategoriler</div>
            <div>Evcil Hayvanım</div>
          </div>
        </div>
        <div class="ion-margin-bottom">
          <ion-input [(ngModel)]="categoryName" (ionChange)="onAutoFormatChangedCategoryName()" placeholder="Kategori ismi"></ion-input>
        </div>
        <ion-button (click)="selectImage()" fill="outline" class="image-container ion-margin-bottom">
          <div  *ngIf="catImage == null" class="select-image">
            <div><ion-icon name="image-outline"></ion-icon></div>
            <div>Kategori görseli seçin</div>
          </div>
          <div class="image" *ngIf="catImage">
            <img [src]="catImage" alt="">
          </div>
        </ion-button>
        <div class="toogle-container ion-margin-bottom">
          <div>Kategoriyi panoda gizle</div>
          <div>
            <ion-toggle [(ngModel)]="isHidden" color="primary"></ion-toggle>
          </div>
        </div>
      </div>
      <div>
        <button (click)="save()">Oluştur</button>
      </div>
    </div>
  </div>
</ion-content>
