<ion-content>
  <div class="main">
    <div class="top-container">
      <div class="page-title ion-margin-top ion-text-center">
        Kategori oluştur
      </div>
    </div>
    <div class="main-content">
      <div>

        <div routerDirection="back" routerLink="/add-product/choose-category" class="exit-container">
          <img src="../../../assets/svg/abstract/exit.svg" alt="Icon">
        </div>
        <div class="top-tabs">
          <div class="tab-container">
            <div class="active">Kategoriler</div>
            <div>Evcil Hayvanım</div>
          </div>
        </div>
        <div class="ion-margin-bottom">
          <ion-input [(ngModel)]="categoryName" (ionChange)="onAutoFormatChangedCategoryName()" placeholder="Kategori ismi"></ion-input>
        </div>
        <div class="toogle-container">
          <div>Bu panayo gizle</div>
          <div>
            <ion-toggle color="primary"></ion-toggle>
          </div>
        </div>
      </div>
      <div>
        <button>Oluştur</button>
      </div>
    </div>
  </div>
</ion-content>
