<ion-header>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col class="ion-align-self-center">
                <h2 class="title">Gizlilik Sözleşmesi</h2>
            </ion-col>
            <ion-col class="ion-text-right" size="auto">
                <ion-button fill="outline" (click)="closeModal()">
                    <ion-icon name="close" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content class="ion-padding">
    <div [innerHTML]="policy | sanitizeHtml"></div>
</ion-content>
