//.bottom-nav-container {
//  width: 100%;
//  position: fixed;
//  bottom: -58px;
//  height: 56px;
//  transition: bottom 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
//
//  &.showing {
//    bottom: 1em;
//    .round-light {
//      top: -29px !important;
//    }
//  }
//
//  .nav-inner {
//    background: #6a40d6;
//    height: 100%;
//    margin: 0 1rem;
//    padding: 0 4%;
//    border-radius: 1rem;
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    .left-inner {
//      display: flex;
//      width: 38%;
//      justify-content: space-between;
//    }
//    .right-inner {
//      display: flex;
//      width: 38%;
//      justify-content: space-between;
//    }
//    .item-container {
//      width: 48px;
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      background: transparent;
//      border-radius: 50px;
//      height: 48px;
//      &.active {
//        background: #1e90ff;
//      }
//    }
//    .round-light {
//      width: 56px;
//      height: 56px;
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      background: #ffffff;
//      border-radius: 50px;
//      position: absolute;
//      top: 0;
//      right: 0;
//      left: 0;
//      margin: auto;
//      transition: top 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
//
//      .round-inner {
//        width: 48px;
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        height: 48px;
//        background: #6a40d6;
//        border-radius: 50px;
//        &.active {
//          background: #1e90ff;
//        }
//      }
//    }
//  }
//}
//
//ion-tabs {
//  position: relative;
//  ion-fab {
//    margin-bottom: calc(env(safe-area-inset-bottom) + 2em);
//    margin-inline-start: -24px;
//    ion-fab-button {
//      --box-shadow: none;
//      width: 48px;
//      height: 48px;
//    }
//  }
//  ion-tab-bar {
//    --border: 0;
//    --background: transparent;
//    position: absolute;
//    bottom: 1em;
//    left: 1em;
//    right: 1em;
//    height: 56px;
//    &:after {
//      content: " ";
//      width: 100%;
//      bottom: 0;
//      background: var(--ion-color-light);
//      height: env(safe-area-inset-bottom);
//      position: absolute;
//    }
//    ion-tab-button {
//      --background: var(--ion-color-secondary);
//      position: relative;
//
//      &.tab-selected {
//        &::before {
//          width: 48px;
//          height: 48px;
//          background: #1e90ff;
//          content: " ";
//          position: absolute;
//          display: block;
//          border-radius: 24px;
//          top: 4px;
//          left: 50%;
//          transform: translateX(-50%);
//        }
//      }
//
//      &:first-child {
//        border-top-left-radius: 1em;
//        border-bottom-left-radius: 1em;
//      }
//
//      &:last-child {
//        border-top-right-radius: 1em;
//        border-bottom-right-radius: 1em;
//      }
//
//      &.suggestions {
//        margin-right: 0px;
//        padding-right: 10px;
//        border-top-right-radius: 21px;
//        &.tab-selected {
//          &::before {
//            left: calc(50% - 5px);
//          }
//        }
//      }
//      &.search {
//        margin-left: 0px;
//        padding-left: 10px;
//        border-top-left-radius: 21px;
//        &.tab-selected {
//          &::before {
//            left: calc(50% + 5px);
//          }
//        }
//      }
//    }
//    .center-round {
//      width: calc(calc(100% - 2em) / 5);
//      margin-top: 21px;
//      margin-right: -2px;
//      margin-left: -2px;
//
//      path {
//        fill: var(--ion-color-secondary);
//      }
//    }
//  }
//}
.d-none {
  display: none;
}
.bottom-nav-container {
  width: 100%;
  position: fixed;
  bottom: calc(var(--ion-safe-area-bottom) + 1em);
  height: 56px;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1rem;


  .nav-inner {
    background: #6a40d6;
    height: 100%;
    padding: 0 4%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-inner {
      display: flex;
      width: 38%;
      justify-content: space-between;
    }
    .right-inner {
      display: flex;
      width: 38%;
      justify-content: space-between;
    }
    .item-container {
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border-radius: 50px;
      height: 48px;
      &.active {
        background: #1e90ff;
      }
    }
    .round-light {
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border-radius: 50px;
      position: absolute;
      top: -29px;
      right: 0;
      left: 0;
      margin: auto;
      .round-inner {
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        background: #6a40d6;
        border-radius: 50px;
        &.active {
          background: #1e90ff;
        }
      }
    }
  }
}

