<ion-header mode="ios" trasculent="true" class="dark back-only ion-no-border" *ngIf="appService.isMobile">
    <ion-toolbar>
        <ion-buttons slot="start">
            <div *ngIf="stepper === 1" routerLink="/app/settings" routerDirection="back" class="back-button">
                <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
            </div>
            <div *ngIf="stepper > 1" (click)="goPreviousStep()" class="back-button">
                <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [class.dark]="appService.isMobile" fullscreen="true">
    <div *ngIf="stepper===1" class="page-container">
        <div class="lead" [class.m-4]="!appService.isMobile">
            <h2>
                {{'Settings.ChangeNumberTitle' | translate}}
                <div class="vertical-dots" *ngIf="appService.isMobile">
                    <img src="../../../assets/svg/login/vertical-dots.svg" alt="Icon">
                </div>
            </h2>
        </div>
        <div class="bottom-container">
            <div class="bottom-content">
                <form [formGroup]="changePhoneNumberForm" (ngSubmit)="changePhoneNumber()" novalidate>
                    <ion-item>
                        <div class="input-group">
                            <button class="p-button" (click)="showCountrySelector()" type="button">
                                <i class="flag-icon flag-icon-{{selectedCountry.isoCode}}"></i>
                                <span>+{{selectedCountry.dialCode}}</span>
                            </button>
                            <input class="p-inputtext" formControlName="phoneNumberMasked"
                                [mask]="selectedCountry.phoneMask" placeholder="{{'Phone' | translate}}">
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-button type="submit" [disabled]="isLoading || !changePhoneNumberForm.valid">{{ isLoading ?
                            ('Updating'| translate) : ('Update' | translate) }}</ion-button>
                    </ion-item>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="stepper === 2" class="page-container">
        <div class="lead" [class.m-4]="!appService.isMobile">
            <h2>
                {{'ConfirmationCode.Title'| translate}}
            </h2>
            <h3>
                <div class="register-horizontal" *ngIf="appService.isMobile">
                    <img src="../../../assets/svg/register/register-horizontal-dots.svg" alt="Icon">
                </div>
            </h3>
        </div>

        <div class="bottom-container">
            <div class="bottom-content">
                <div>
                    <div class="code-container">
                        <code-input class="code-input" [isCodeHidden]="false" [codeLength]="4"
                            (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)">
                        </code-input>
                    </div>
                </div>
                <div class="ion-padding py-1">
                    <ion-button (click)="verify()" [disabled]="isLoading">{{ isLoading ? ('PleaseWait'| translate) :
                        ('Continue'|translate)}}
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>