form {
  ion-item {
    --ion-margin: 0;
    --inner-border-width: 0;
    --min-height: 68px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 16px;
    --padding-end: 16px;

  }
}
