ion-header {
  background: #fff;
  padding-top: var(--ion-safe-area-top);
  font-family: var(--ion-font-family);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .back-button {
    padding: 0.5rem 1.5em;
  }

  &.dark {
    background: #6a40d6;
    border-bottom: 0;
    height: 56px;
    display: flex;
    align-items: flex-end;

    ion-toolbar {
      --background: transparent;
    }
  }

  .shrinkable {
    position: relative;
    font-size: 1em;

    ion-toolbar {
      --background: transparent;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --padding-start: 8px;
      --padding-end: 8px;
      --min-height: 56px;
      --border-width: 0 !important;

      ion-back-button,
      ion-icon {
        font-size: 0.9em;
        --icon-font-size: 1.5em;
        --icon-padding-start: 0.5em;
        --icon-padding-end: 0.5em;
      }

      ion-button {
        ion-badge {
          position: absolute;
          top: 0px;
          right: -5px;
          font-size: 0.5em;
          width: 1.5em;
          height: 1.5em;
          padding: 0.2em;
        }
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -40px;

    .avatar {
      width: 96px;
      height: 96px;
      margin-bottom: 1em;
      position: relative;
      img {
        object-fit: cover;
        border-radius: 50px;
        width: 100%;
        height: 100%;
      }

      .options {
        position: absolute;
        background: #1e90ff;
        width: 25px;
        height: 25px;
        padding: 0.4rem;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        right: 3%;
      }
    }

    .name {
      font-size: 1.5em;
      color: #000;
    }

    .info {
      font-weight: 300;
      font-size: 0.9em;
      color: var(--ion-color-medium);
      margin: 0.5rem;
    }

    .community {
      display: flex;
      flex-direction: row;
      //width: 70%;

      .follower,
      .following {
        flex: 1;
        display: flex;
        margin: 0.5rem;
        align-items: center;

        .number {
          margin-right: 0.3em;
          font-size: 1em;
          line-height: 1em;
          color: #6a40d6;
          font-weight: 600;
          margin-top: -0.1em;
        }

        .text {
          font-size: 0.9em;
          line-height: 0.9em;
          color: var(--ion-color-medium);
        }
      }
    }
  }

  .top-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;

    .plus-icon {
      max-width: unset;
    }

    .tab-container {
      display: flex;
      align-items: center;
      border-radius: 8px;

      div {
        padding: 0.375rem 1rem;
        border-radius: 7px;
        white-space: pre;
        font-size: 1em;
        line-height: 20px;
        color: var(--ion-color-medium);

        &.active {
          background: var(--ion-color-primary);
          color: #ffffff;
        }
      }

      ion-segment {
        --background: #ffffff;
        --ion-background-color: var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary);

        ion-segment-button {
          font-size: 1em;
          --color: var(--ion-color-primary);
          --color-checked: #ffffff;
        }
      }
    }
  }

  .search-bar {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    input {
      
    font-size: 1.1em !important;
    font-weight: 500 !important;
    }
  }
}

ion-content {
  &.dark {
    --background: var(--ion-color-primary);

    .page-container {
      min-height: 100%;
      display: flex;
      flex-direction: column;

      .bottom-container {
        border-top-right-radius: 32px;
        border-top-left-radius: 32px;
        background: white;
        position: relative;
        flex: 1;
        padding: 2em 0 0;
      }

      .lead {
        padding: 1em 0 4em;
        position: relative;

        h2 {
          font-weight: 600;
          font-size: 1.25em;
          line-height: 1.8em;
          color: #ffffff;
          text-align: center;
          position: relative;
          margin: 0;
          padding: 0 1rem 0.5rem 1rem;
        }

        h3 {
          font-weight: normal;
          font-size: 1em;
          line-height: 18px;
          color: var(--ion-color-light);
          text-align: center;
          position: relative;
          margin: 0;
          padding: 0 1rem 1rem 1rem;
        }
      }
    }
  }

  
.center-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-spinner {
    --ion-color-medium: #b7b7b7;
    width: 3em;
    height: 3em;
  }
}
}
.plt-ios{
  ion-header{
    &.dark{
      --ion-safe-area-top: 6rem;
      padding-top: var(--ion-safe-area-top);
    }
  }
}
.plt-ios{
  ion-header{
  ion-toolbar:first-of-type{
    padding-top: 0;
  }

  }
}