::placeholder {
  font-family: var(--ion-font-family);
}

.p-button {
  font-family: var(--ion-font-family);
  &:focus {
    box-shadow: none;
  }

  .p-button-icon-left {
    width: 20px;
  }

  .p-button-label {
    white-space: nowrap;
  }
}

.p-inputtext {
  font-family: var(--ion-font-family);
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 16px;
  width: 100%;
  height: 52px;
  border-width: 1px;
  border-color: var(--ion-color-primary);
  border-radius: 16px;
  outline: none !important;

  &:enabled:hover:not(.ng-dirty) {
    border-color: var(--ion-color-primary);
  }

  &:enabled:focus {
    box-shadow: none;
    box-shadow: inset 0 0 0 0.05rem rgb(106 64 214 / 100%);
  }

  &.ng-dirty.ng-invalid:focus {
    box-shadow: inset 0 0 0 0.05rem rgb(244 67 54 / 100%);
  }
}

.p-inputgroup {
  display: flex;
  width: 100%;
  .p-button {
    font-size: 1em;
    width: 90px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--ion-color-primary);
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-right-width: 0 !important;
    color: var(--ion-color-primary);
    background: transparent;
    .flag-icon {
      margin-right: .2em;
    }
  }

  .p-inputtext {
    flex: 1;
    width: 100% !important;
    border-radius: 0 16px 16px 0;
  }
}

.monthview-primary-with-event {
  background-color: transparent !important;
  position: relative;

  &::before {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: var(--ion-color-primary);
    border-radius: 10px;
    content: " ";
    z-index: -1;
  }

  &.monthview-selected {
    color: #fff !important;

    &::before {
      background-color: var(--ion-color-secondary);
    }
  }
}
