<ion-header mode="ios" trasculent="true" class="back-only ion-no-border">
    <div class="shrinkable">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button default-href=".." color="dark" text=""></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </div>
</ion-header>
<ion-content>
    <div>
        <img src="../../../../../assets/landing/LG-Black-Friday-Shopee.jpeg" alt="">
    </div>
    <div class="ion-padding">
        <ion-card-title>"Black Friday" özel</ion-card-title>
        <ion-card-subtitle>24/24/2022 ~ 18/01/2022</ion-card-subtitle>
        <ion-card-content class="ion-no-padding ion-margin-top">
            Teknoloji ürünlerinde 56% ya varan indirimleri kaçırmayın
        </ion-card-content>
    </div>
</ion-content>
