.login-container {
  height: 72%;
  background: #6a40d6;

  .back-button {
    padding: 2.25rem 1.875rem 1rem;
  }

  .text-container {
    padding: 0 30px;
    margin: 0 0 40px;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    position: relative;

    .vertical-dots {
      position: absolute;
      left: 10%;
      top: 79%;
    }

    .horizontal-dots {
      z-index: 1;
      bottom: 105%;
      right: 0;
      position: absolute;
    }
  }

  .bottom-container {
    height: 66%;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    justify-content: space-around;

    ion-button {
      width: 100%;
      height: 56px;
      --border-radius: 16px;
    }

    .input-container {
      padding: 0 1.5rem;

      .code-input {
        justify-content: center !important;
      }

      ::ng-deep span {
        padding: 0 !important;
        margin-right: 8px !important;
        flex: unset !important;

        input {
          border: 1px solid #6a40d6 !important;
          border-radius: 16px !important;
          width: 56px !important;
          height: 56px !important;
        }
      }
      .number-input {
        border: 1px solid #6a40d6;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
      }
      ion-input {
        border: 1px solid #6a40d6;
        border-radius: 16px;
        height: 56px;
        padding: 1.125rem 1rem !important;
      }
    }
  }
}

ion-button {
  --border-radius: 16px;
  width: 100%;
  height: 52px;
  font-size: 1em;
}

.vertical-dots {
  position: absolute;
  left: 10%;
  top: 79%;
}
.page-container {
  overflow: hidden;
}
