<ion-header mode="ios" trasculent="true" class="back-only ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <div *ngIf="stepper === 1" routerLink="/intro" class="back-button">
                <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
            </div>
            <div *ngIf="stepper > 1" (click)="stepper=stepper-1" class="back-button">
                <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen="true">
    <div *ngIf="stepper === 1" class="page-container">
        <div class="lead">
            <h2>
                Wish a Link’e üye olun
            </h2>
            <h3>
                Sevdiklerinize hediye seçmek artık çok kolay
                <div class="register-horizontal">
                    <img src="../../../assets/svg/register/register-horizontal-dots.svg" alt="Icon">
                </div>
            </h3>
        </div>
        <div class="bottom-container pt-4">
            <div class="bottom-content">
                <!--                <div class="img-container">-->
                <!--                    <img src="../../../assets/svg/register/photo.svg" alt="Icon">-->
                <!--                </div>-->

                <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
                    <ion-item>
                        <input class="p-inputtext" formControlName="firstName" type="text" (keyup)="autoCapitalize('firstName')"
                               placeholder="Ad">
                    </ion-item>
                    <ion-item>
                        <input class="p-inputtext" formControlName="lastName" type="text" (keyup)="autoCapitalize('lastName')"
                               placeholder="Soyad">
                    </ion-item>
                    <ion-item>
                        <input class="p-inputtext" formControlName="email" type="email" placeholder="E-mail">
                    </ion-item>
                    <ion-item>
                        <div class="p-inputgroup">
                            <button class="p-button" (click)="showCountrySelector()" type="button">
                                <i class="flag-icon flag-icon-{{selectedCountry.isoCode}}"></i>
                                <span>+{{selectedCountry.dialCode}}</span>
                            </button>
                            <input type="tel" class="p-inputtext" formControlName="phoneNumberMasked" [mask]="selectedCountry.phoneMask"
                                   placeholder="Telefon">
                        </div>
                    </ion-item>
                    <div class="ion-padding d-flex">
                        <div (click)="checkbox= !checkbox" [ngClass]="{active: checkbox}" class="custom-checkbox mr-2"></div>
                        <div class="policy">
                            <span class="modal" (click)="privacyModal()">Üyelik Sözleşmesi </span>
                            <span class="text" (click)="checkbox= !checkbox">şartlarını okudum ve kabul ediyorum.</span>
                        </div>
                    </div>
                    <ion-item>
                        <ion-button expand="block" type="submit" [disabled]="!checkbox || isLoading || !registerForm.valid">{{ isLoading ?
                            'Lütfen bekleyiniz...' : 'Devam Et'}}
                        </ion-button>
                    </ion-item>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="stepper === 2" class="page-container">
        <div class="lead">
            <h2>
                Wish a Link’e hoş geldiniz
            </h2>
            <h3>
                SMS şifrenizi giriniz
                <div class="register-horizontal">
                    <img src="../../../assets/svg/register/register-horizontal-dots.svg" alt="Icon">
                </div>
            </h3>
        </div>

        <div class="bottom-container">
            <div class="bottom-content">
                <div>
                    <div class="input-number-container">
                        <code-input class="code-input" [isCodeHidden]="false" [codeLength]="4" (codeChanged)="onCodeChanged($event)"
                                    (codeCompleted)="onCodeCompleted($event)">
                        </code-input>
                    </div>
                </div>
                <div class="mt-5 px-3 button-container-number">
                    <ion-button (click)="verify()" [disabled]="isLoading">{{ isLoading ? 'Lütfen bekleyiniz...' : 'Devam Et'}}
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="stepper === 3" class="page-container">
        <div class="lead">
            <h2>
                Wish A Link şifrenizi oluşturun
            </h2>
            <h3>
                Hesabınızın güvenliğini sağlamak için parola oluşturunuz
                <div class="register-horizontal">
                    <img src="../../../assets/svg/register/register-horizontal-dots.svg" alt="Icon">
                </div>
            </h3>
        </div>
        <div class="bottom-container">
            <div class="bottom-content">
                <div>
                    <div class="input-number-container">
                        <ion-item>
                            <input [(ngModel)]="password" class="p-inputtext" placeholder="Parola" type="password"/>
                        </ion-item>
                        <ion-item>
                            <input [(ngModel)]="rePassword" class="p-inputtext" placeholder="Parola Onayı" type="password">
                        </ion-item>
                        <!--                        <code-input class="code-input" [isCodeHidden]="true" [codeLength]="4" (codeChanged)="onCodeChanged($event)"-->
                        <!--                                    (codeCompleted)="onCodeCompleted($event)">-->
                        <!--                        </code-input>-->
                    </div>
                </div>
                <div class="mt-5 px-3 button-container-number">
                    <ion-button (click)="setPassword()">Devam Et</ion-button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="stepper === 4" class="page-container">
        <div class="lead">
            <h2>
                İlgi alanlarınızı ekleyiniz
            </h2>
            <div class="register-horizontal" style="bottom: 0;">
                <img src="../../../assets/svg/register/register-horizontal-dots.svg" alt="Icon">
            </div>
        </div>
        <div class="bottom-container">
            <div class="bottom-content">
                <div class="grid-container">
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let product of categories" class="ion-text-center" size="4">
                                <div [ngClass]="{'active' : selectedProducts.indexOf(product.id)> -1}"
                                     (click)="selectProduct(product.id)" class="select-content">
                                    {{product.text}}
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button class="mt-3" (click)="saveCategories()">Devam Et</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>
</ion-content>