.header-top {
  margin-top: 5em;
}
.list-center {
  max-width: 75%;
  margin: auto;
}
app-post-item {
  display: block;
  width: 100%;
  min-height: 10em;
}

virtual-scroller {
  width: 100%;
  height: 100%;
}

/*
.top-container {
  padding: 26px 26px 16px;
  height: auto;
  display: flex;
  border-bottom: 0.5px solid var(--ion-color-light-shade);

  .back-button {
    position: absolute;
  }

  button {
    background: transparent;
    font-size: 9px;
    line-height: 10px;
    text-decoration-line: underline;
    color: #6a40d6;
  }

  .top-avatar {
    width: 100%;

    .avatar-container {
      height: 56px;
      width: 56px;
      margin: 2rem auto 8px;
      border-radius: 100px;
      background: #ffffff;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .category-info {
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 6px;
      color: var(--ion-color-medium);
    }

    .category-name {
      font-size: 24px;
      margin-bottom: 6px;
      line-height: 27px;
    }
  }
}

.mb-8 {
  margin-bottom: 8px;
}

.add-product {
  width: 48px;
  height: 48px;
  background: #1e90ff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 28px;
}
ion-content {
  --padding-top: var(--ion-safe-area-top);
}
.profile-header.fixed {
  top: 0;
  padding-top: var(--ion-safe-area-top);
}
ion-list {
  ion-item {
    --ion-margin: 0;
    --inner-border-width: 0;
    --padding-top: 1em;
    --padding-bottom: 1em;
    --padding-start: 1em;
    --padding-end: 1em;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --ion-item-background: transparent;
    font-size: 1em;
    font-weight: 500;
    border-bottom: 1px solid var(--ion-color-light-shade);

    .product-name {
      font-size: 1em;
      line-height: 18px;
      margin-right: 18px;
      text-align: left;
    }

    .product-tag {
      --padding-top: 4px;
      --padding-end: 4px;
      --padding-bottom: 4px;
      --padding-start: 4px;
      font-size: 10px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
    .img-product-container {
      height: 7em;
      border-radius: 8px;
      overflow: hidden;
      max-width: 8rem;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .creator {
      font-weight: 600;
      font-size: 0.8em;
    }
  }
}
*/
