<ion-header mode="ios" class="dark">
    <div *ngIf="stepper === 1" routerLink="/tabs/settings" class="back-button">
        <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
    </div>
    <div *ngIf="stepper > 1" (click)="goPreviousStep()" class="back-button">
      <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
  </div>
    <ion-title></ion-title>
</ion-header>

<ion-content [scrollEvents]="true" parallax-header>
    <div *ngIf="stepper===1" class="page-container">
        <div class="lead">
            <h2>
                Telefon numaranızı güncellemek için lütfen yeni telefon numaranızı girin
                <div class="vertical-dots">
                    <img src="../../../assets/svg/login/vertical-dots.svg" alt="Icon">
                </div>
            </h2>
        </div>
        <div class="bottom-container pt-2">
            <div class="bottom-content pt-2">
                <form [formGroup]="changePhoneNumberForm" (ngSubmit)="changePhoneNumber()" novalidate>
                    <ion-item>
                        <div class="p-inputgroup">
                            <button class="p-button" (click)="showCountrySelector()" type="button">
                                <i class="flag-icon flag-icon-{{selectedCountry.isoCode}}"></i>
                                <span>+{{selectedCountry.dialCode}}</span>
                            </button>
                            <input class="p-inputtext" formControlName="phoneNumberMasked" [mask]="selectedCountry.phoneMask"
                                placeholder="Telefon">
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-button type="submit" [disabled]="isLoading || !changePhoneNumberForm.valid">{{ isLoading ? 'Gönderiliyor...' : 'Güncelle' }}</ion-button>
                    </ion-item>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="stepper === 2" class="page-container">
        <div class="lead">
          <h2>
            Wish a Link’e hoş geldiniz
          </h2>
          <h3>
            Lütfen ‘’Onay Kodunu’’ giriniz
            <div class="register-horizontal">
              <img src="../../../assets/svg/register/register-horizontal-dots.svg" alt="Icon">
            </div>
          </h3>
        </div>
    
        <div class="bottom-container">
          <div class="bottom-content">
            <div>
              <div class="input-number-container">
                <code-input class="code-input" [isCodeHidden]="false" [codeLength]="4" (codeChanged)="onCodeChanged($event)"
                  (codeCompleted)="onCodeCompleted($event)">
                </code-input>
              </div>
            </div>
            <div class="mt-5 px-3 button-container-number">
              <ion-button (click)="verify()" [disabled]="isLoading">{{ isLoading ? 'Lütfen bekleyiniz...' : 'Devam Et'}}
              </ion-button>
            </div>
          </div>
        </div>
      </div>
</ion-content>