<ion-header hidden mode="ios" trasculent="true" class="back-only ion-no-border">
  <div class="shrinkable">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark" text=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="" fullscreen="true">
  <div class="chat-container">
    <ion-split-pane contentId="chat" class="split-pane">
      <ion-menu #chatMenu menuId="chat-menu" contentId="chat" class="room-list" type="overlay">
        <ion-header>
          <ion-toolbar>
            <ion-title>Sohbet</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-menu-toggle menu="chat-menu" auto-hide="false" *ngFor="let room of chatService.rooms"
            (click)="changeRoom(room)">
            <ion-item button [class.active]="this.currentRoom?.id == room.id">
              <ion-avatar slot="start">
                <img [src]="room.avatar">
              </ion-avatar>
              <ion-label>{{room.name}}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-content>
      </ion-menu>

      <!-- the chat content -->
      <div id="chat" class="room">
        <div class="ion-page">
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-back-button defaultHref="/app/profile/me" style="margin-right: 10px;" text=""></ion-back-button>
                <ion-menu-button autoHide="false" menu="chat-menu"></ion-menu-button>
              </ion-buttons>
              <ion-title>{{ currentRoom == null? 'Mesajlar' : currentRoom.name }}</ion-title>
              <ion-buttons slot="end">
                <ion-button *ngIf="currentRoom" fill="clear" (click)="leaveRoom()">
                  <ion-icon color="light" name="trash" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content #chatContent>
            <ion-button *ngIf="currentRoomHasMoreMessages" fill="clear" (click)="loadMessages()">Daha fazla
              yükle</ion-button>
            <ion-list>
              <ion-item *ngFor="let message of currentRoomMessages">
                <div class="message-item" [class.my]="message.fromId == currentUserId">
                  <div class="message-balloon">
                    {{message.content}}
                    <div class="time">{{ message.createdOn }}</div>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-content>
          <ion-footer>
            <div class="compose">
              <ion-input id="newMessageInput" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
                [disabled]="isSending" placeholder="Bir mesaj yazın" maxlength="127"></ion-input>
              <ion-button fill="clear" (click)="sendMessage()" [disabled]="isSending">
                <ion-icon name="send-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </ion-footer>
        </div>
      </div>
    </ion-split-pane>
  </div>
</ion-content>