<ion-content>
  <div class="main">
    <div class="top-container">
      <div *ngIf="!appService.isMobile" class="header-top"></div>
      <div class="page-title ion-margin-top ion-text-center">
        {{'Event' | translate}} {{ activityId > 0 ? ('Update' | translate) :
        ('Create' | translate) }}
      </div>
    </div>
    <div class="main-content">
      <div class="exit-container">
        <ion-back-button
          defaultHref="/app"
          color="light"
          icon="close"
          text=""
        ></ion-back-button>
      </div>
      <div class="mw-500-tablet">
        <div class="ion-margin-bottom">
          <ion-input
            [(ngModel)]="name"
            placeholder="{{'Title' | translate}}"
          ></ion-input>
        </div>
        <!--
                <div class="ion-margin-bottom">
                  <ion-input [(ngModel)]="categoryId" placeholder="İlgili kategori"></ion-input>
                </div>
                -->
        <div class="ion-margin-bottom toogle-container">
          <div>{{('HideEvent' | translate)}}</div>
          <div>
            <ion-toggle [(ngModel)]="isHidden" color="primary"></ion-toggle>
          </div>
        </div>
        <div class="ion-margin-bottom">
          <ion-datetime
            [(ngModel)]="startDate"
            (ionChange)="endDateFormatter($event)"
            [max]="maxDate"
            [min]="minDate"
            doneText="{{('Ok' | translate)}}"
            cancelText="{{('Cancel' | translate)}}"
            displayFormat="DD.MM.YYYY"
            placeholder="Başlangıç"
          ></ion-datetime>
        </div>
        <div class="ion-margin-bottom">
          <ion-datetime
            [(ngModel)]="endDate"
            [min]="startDate"
            [max]="maxDate"
            doneText="{{('Ok' | translate)}}"
            cancelText="{{('Cancel' | translate)}}"
            displayFormat="DD.MM.YYYY"
            placeholder="Başlangıç"
          ></ion-datetime>
        </div>
        <div class="mb-32">
          <input
            [(ngModel)]="description"
            placeholder="{{('Description' | translate)}}"
          />
        </div>
        <div>
          <ion-button
            color="primary"
            expand="block"
            fill="outline"
            [disabled]="isLoading"
            *ngIf="activityId === 0"
            (click)="saveActivity()"
          >
            {{isLoading ? ('Creating' | translate) : ('Create' | translate)}}
          </ion-button>
          <ion-button
            color="primary"
            expand="block"
            fill="outline"
            [disabled]="isLoading"
            *ngIf="activityId > 0"
            (click)="saveActivity()"
          >
            {{isLoading ? ('Updating' | translate) : ('Update' | translate)}}
          </ion-button>
        </div>
        <div *ngIf="activityId > 0" class="mt-3 ion-text-center">
          <ion-button
            class="ion-text-capitalize"
            color="danger"
            expand="block"
            fill="outline"
            (click)="deleteActivity()"
            >{{('DeleteEvent' | translate)}}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
