<ion-content>
  <div class="main">
    <div class="top-container">
      <div class="page-title ion-margin-top ion-text-center">
        Etkinlik ekle
      </div>
    </div>
    <div class="main-content">
      <div routerDirection="back" routerLink="/tabs/calendar" class="exit-container">
        <img src="../../../assets/svg/abstract/exit.svg" alt="Icon">
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="name" placeholder="Başlık"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="categoryId" placeholder="İlgili kategori"></ion-input>
      </div>
      <div class="ion-margin-bottom toogle-container">
        <div>Bu panoda gizle</div>
        <div>
          <ion-toggle [(ngModel)]="isHidden" color="primary"></ion-toggle>
        </div>
      </div>
      <div class="ion-margin-bottom">
        <ion-datetime [(ngModel)]="startDate" doneText="Tamam" cancelText="İptal" displayFormat="DD.MM.YYYY" placeholder="Başlangıç"></ion-datetime>
      </div>
      <div class="ion-margin-bottom">
        <ion-datetime [(ngModel)]="endDate" doneText="Tamam" cancelText="İptal" displayFormat="DD.MM.YYYY" placeholder="Başlangıç"></ion-datetime>
      </div>
      <div class="mb-32">
        <ion-input [(ngModel)]="description" placeholder="Açıklama"></ion-input>
      </div>
      <div>
        <button (click)="saveActivity()">Oluştur</button>
      </div>
    </div>
  </div>
</ion-content>
