<ion-header mode="ios" shrink-header [scrollArea]="scrollAreaCommunity">
    <div class="shrinkable">
        <ion-toolbar mode="ios">
            <ion-buttons slot="start">
                <ion-back-button text="" color="dark"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openNotification()">
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="profile">
            <div class="avatar">
                <img [src]="userData == null ? '../../../../assets/svg/home/avatar.png' : userData.profilePictureUrl"
                    alt="">
            </div>
            <div class="name">
                <span>{{userData == null? '&nbsp;' : userData.fullName}}</span>
            </div>
            <div class="community">
                <div class="follower">
                    <div class="number">{{userData == null ? 0 : userData.followersCount}}</div>
                    <div class="text">Takipçi</div>
                </div>
                <div class="following">
                    <div class="number">{{userData == null ? 0 : userData.followingsCount}}</div>
                    <div class="text">Takip</div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-tabs">
        <div class="tab-container">

            <ion-segment [value]="selectedSegment">
                <ion-segment-button value="follower" [routerLink]="currentUrl" [queryParams]="{segment: 'follower'}">
                    <ion-label>Takipçi</ion-label>
                </ion-segment-button>
                <ion-segment-button value="following" [routerLink]="currentUrl" [queryParams]="{segment: 'following'}">
                    <ion-label>Takip</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
</ion-header>

<ion-content #scrollAreaCommunity [scrollEvents]="true" [fullscreen]="true">
    <div *ngIf="selectedSegment === 'follower'" class="content mw-500-tablet">
        <div *ngFor="let user of followerList" class="profile-list-item">
            <div class="person-info" (click)="selectedUser(user.id)">
                <div class="img-container"><img [src]="user?.profilePictureUrl" alt="Img"></div>
                <div class="name">{{user?.fullName}}</div>
            </div>
            <div (click)="unfollowUser(user,'reloadFollower')" *ngIf="user.isFollowing" class="follow-info active">
                {{ user.isBusy ? '...' : 'Takibi Bırak'}}
            </div>
            <div (click)="followUser(user)" *ngIf="!user.isFollowing" class="follow-info">
                {{ user.isBusy ? '...' : 'Takip Et'}}
            </div>
        </div>
        <div *ngIf="followerList?.length == 0" class="ion-margin-top ion-text-center" style="color: #565656;">Seni takip
            eden herkesi burada göreceksin.
        </div>
    </div>
    <div *ngIf="selectedSegment === 'following'" class="content mw-500-tablet">
        <div *ngFor="let user of followingList" class="profile-list-item">
            <div class="person-info" (click)="selectedUser(user.id)">
                <div class="img-container"><img [src]="user?.profilePictureUrl" alt="Img"></div>
                <div class="name">{{user?.fullName}}</div>
            </div>
            <div (click)="unfollowUser(user,'reloadFollowing')" class="follow-info active">
                {{ user.isBusy ? '...' : 'Takibi Bırak'}}
            </div>
        </div>
        <div *ngIf="followingList?.length == 0" class="ion-margin-top ion-text-center" style="color: #565656;">Takip
            ettiğin kişileri burada göreceksin.
        </div>
    </div>
</ion-content>