<ion-header mode="ios" shrink-header [scrollArea]="scrollAreaCommunity">
    <div class="shrinkable">
        <ion-toolbar mode="ios">
            <ion-buttons slot="start">
                <ion-back-button text="" color="dark"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openNotification()">
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="profile">
            <div class="avatar">
                <img [src]="userData == null ? '../../../../assets/svg/home/avatar.png' : userData.profilePictureUrl"
                    alt="">
            </div>
            <div class="name">
                <span>{{userData == null? '&nbsp;' : userData.fullName}}</span>
            </div>
            <div class="community">
                <div class="follower">
                    <div class="number">{{userData == null ? 0 : userData.followersCount}}</div>
                    <div class="text">Takipçi</div>
                </div>
                <div class="following">
                    <div class="number">{{userData == null ? 0 : userData.followingsCount}}</div>
                    <div class="text">Takip</div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-tabs">
        <div class="tab-container">

            <ion-segment [(ngModel)]="selectedTab">
                <ion-segment-button value="follower" (click)="getFollowerList()">
                    <ion-label>Takipçi</ion-label>
                </ion-segment-button>
                <ion-segment-button value="following" (click)="getFollowingList()">
                    <ion-label>Takip</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
</ion-header>

<ion-content #scrollAreaCommunity [scrollEvents]="true" [fullscreen]="true">
    <div hidden class="top-container">
        <span (click)="goBack()" class="back-button">
            <img src="../../../../assets/svg/abstract/back-icon-dark.svg" alt="Icon">
        </span>
        <div class="top-avatar ion-text-center">
            <div class="avatar-container">
                <img [src]="userData?.profilePictureUrl" alt="Avatar">
            </div>
            <div class="ion-margin-bottom name">
                {{userData?.fullName}}
            </div>
            <div class="follower-content">
                <div class="follower">
                    <div class="number">{{userData?.followersCount}}</div>
                    <div class="text">Takipçi</div>
                </div>
                <div class="following">
                    <div class="number">{{userData?.followingsCount}}</div>
                    <div class="text">Takip</div>
                </div>
            </div>
            <div class="top-tabs">
                <div class="tab-container">
                    <div [ngClass]="{'active': selectedTab === 'follower'}" (click)="getFollowerList()"
                        class="follow-info">
                        Takipçi
                    </div>
                    <div [ngClass]="{'active': selectedTab === 'following'}" (click)="getFollowingList()"
                        class="follow-info active">
                        Takip
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedTab=== 'follower'" class="content">
        <div *ngFor="let user of followerList" class="profile-list-item" (click)="selectedUser(user.id)">
            <div class="person-info">
                <div class="img-container"><img [src]="user?.profilePictureUrl" alt="Img"></div>
                <div class="name">{{user?.fullName}}</div>
            </div>
            <div (click)="unfollowUser(user.id,'reloadFollower')" *ngIf="user.isFollowing" class="follow-info active">
                Takibi Bırak
            </div>
            <div (click)="followUser(user.id)" *ngIf="!user.isFollowing" class="follow-info">
                Takip Et
            </div>
        </div>
        <div *ngIf="followerList?.length == 0" class="ion-margin-top ion-text-center" style="color: #565656;">Seni takip
            eden herkesi burada göreceksin.
        </div>
    </div>
    <div *ngIf="selectedTab=== 'following'" class="content">
        <div *ngFor="let user of followingList" class="profile-list-item" (click)="selectedUser(user.id)">
            <div class="person-info">
                <div class="img-container"><img [src]="user?.profilePictureUrl" alt="Img"></div>
                <div class="name">{{user?.fullName}}</div>
            </div>
            <div (click)="unfollowUser(user.id,'reloadFollowing')" class="follow-info active">
                Takibi Bırak
            </div>
        </div>
        <div *ngIf="followingList?.length == 0" class="ion-margin-top ion-text-center" style="color: #565656;">Takip
            ettiğin kişileri burada göreceksin.
        </div>
    </div>
</ion-content>