<ion-header mode="ios" shrink-header [scrollArea]="scrollArea">
    <div class="shrinkable">
        <ion-toolbar mode="ios">
            <ion-buttons slot="start">
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="openNotification()">
                    <img src="../../../../assets/svg/home/notification.svg" alt="Icon">
                    <ion-badge *ngIf="appService.unreadNotificationsCount > 0">{{appService.unreadNotificationsCount}}</ion-badge>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="profile">
            <div class="avatar">
                <img [src]="userData == null ? '../../../../assets/svg/home/avatar.png' : userData.profilePictureUrl"
                    alt="">
            </div>
            <div class="name">
                <span>{{userData == null? '&nbsp;' : userData.fullName}}</span>
            </div>
            <div class="community">
                <div class="follower">
                    <div class="number">{{userData == null ? 0 : userData.followersCount}}</div>
                    <div class="text">Takipçi</div>
                </div>
                <div class="following">
                    <div class="number">{{userData == null ? 0 : userData.followingsCount}}</div>
                    <div class="text">Takip</div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <ion-searchbar mode="ios" debounce="500" (ionChange)="searchUser($event)" (ionFocus)="onSearchFocus()"
            (ionBlur)="onSearchBlur()" placeholder="Arama Yap"></ion-searchbar>
    </div>
</ion-header>

<ion-content #scrollArea [scrollEvents]="true" [fullscreen]="true">
    <div class="content">
        <div *ngIf="isSearching" class="center-spinner">
            <ion-spinner name="crescent" color="medium"></ion-spinner>
        </div>
        <div *ngIf="searchResultPeople">
            <div *ngFor="let user of searchResultPeople" class="profile-list-item">
                <div (click)="selectedUser(user.id)" class="person-info">
                    <div class="img-container"><img [src]="user?.profilePictureUrl" alt="Img"></div>
                    <div class="name">{{user?.fullName}}</div>
                </div>
                <div (click)="followAction(user)" [ngClass]="{'active':!user.isFollowing }" class="follow-info">
                    {{ user.isBusy ? '...' : (user.isFollowing ? 'Takibi Bırak' : 'Takip Et')}}
                </div>
            </div>
        </div>
        <div *ngIf="searchResultPeople == undefined || searchResultPeople.length == 0">
            <div *ngFor="let user of contacts" class="profile-list-item">
                <div class="person-info">
                    <div class="img-container"><img src="../../../../assets/svg/home/avatar.png" alt="Img"></div>
                    <div class="name">{{user?.displayName}}</div>
                </div>
                <div (click)="share(user)" class="follow-info">
                    Davet Et
                </div>
            </div>
        </div>
    </div>
</ion-content>