<ion-content [scrollEvents]="true" parallax-page>

    <div #profileHeader class="profile-header scrollable">
        <span *ngIf="!isSearchFocused" (click)="openNotification()" class="notification-content">
            <img src="../../../../assets/svg/home/notification.svg" alt="Icon">
            <div *ngIf="userData != null && userData.notificationCount > 0" class="badge-notification">
                {{ userData.notificationCount }}
            </div>
        </span>
        <div class="profile-container ion-text-center">
            <div *ngIf="!isSearchFocused" class="profile-inner">
                <div class="avatar">
                    <div class="avatar-image">
                        <img [src]="userData == null ? '../../../../assets/svg/home/avatar.png' : userData.profilePictureUrl"
                            alt="">
                    </div>
                </div>
                <div class="profile-info">
                    <div class="ion-margin-bottom profile-name">
                        <span>{{userData == null? '&nbsp;' : userData.fullName}}</span>
                    </div>
                    <div routerLink="community" class="follower-info">
                        <div class="follower">
                            <div class="number">{{userData == null ? 0 : userData.followersCount}}</div>
                            <div class="text">Takipçi</div>
                        </div>
                        <div class="following">
                            <div class="number">{{userData == null ? 0 : userData.followingsCount}}</div>
                            <div class="text">Takip</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-bar">
                <ion-searchbar mode="ios" debounce="500" (ionChange)="searchUser($event)" (ionFocus)="onSearchFocus()"
                    (ionBlur)="onSearchBlur()" placeholder="Arama Yap"></ion-searchbar>
            </div>
        </div>
    </div>


    <div class="content">
        <div routerLink="stranger-profile/1" class="profile-list-item" hidden>
            <div class="person-info">
                <div class="img-container"><img src="../../../../assets/svg/abstract/avatar.png" alt="Img"></div>
                <div class="name">Mehmet Zor</div>
            </div>
            <div class="follow-info">
                Takip Et
            </div>
        </div>
        <div *ngIf="isSearching" class="center-spinner">
            <ion-spinner name="crescent" color="medium"></ion-spinner>
        </div>
        <div *ngFor="let user of searchResultPeople" class="profile-list-item">
            <div (click)="selectedUser(user.id)" class="person-info">
                <div class="img-container"><img [src]="user?.profilePictureUrl" alt="Img"></div>
                <div class="name">{{user?.fullName}}</div>
            </div>
            <div (click)="followAction(user)" [ngClass]="{'active':!user.isFollowing}" class="follow-info">
                {{ user.isFollowing ? 'Takibi Bırak' : 'Takip Et'}}
            </div>
        </div>
    </div>
</ion-content>