<ion-content>
    <div class="top-container">
        <div class="top-avatar ion-text-center">
            <div class="avatar-container">
                <img [src]="userData.profilePictureUrl" alt="Avatar">
            </div>
            <div class="ion-margin-bottom name">
                {{userData?.fullName}}
            </div>
            <div class="follower-content">
                <div class="follower">
                    <div class="number">{{userData?.followersCount}}</div>
                    <div class="text">Takipçi</div>
                </div>
                <div class="following">
                    <div class="number">{{userData?.followingsCount}}</div>
                    <div class="text">Takip</div>
                </div>
            </div>
            <div class="search-bar">
                <ion-searchbar debounce="500" (ionChange)="yourSearchFunction($event.target.value)" placeholder="Arama Yap"></ion-searchbar>
            </div>
        </div>
    </div>
    <div class="content">
        <div routerLink="stranger-profile/1" class="profile-list-item">
            <div class="person-info">
                <div class="img-container"><img src="../../../../assets/svg/abstract/avatar.png" alt="Img"></div>
                <div class="name">Mehmet Zor</div>
            </div>
            <div class="follow-info">
                Takip Et
            </div>
        </div>
        <div *ngFor="let user of searchResultPeople" class="profile-list-item">
            <div class="person-info">
                <div class="img-container"><img [src]="user.profilePictureUrl" alt="Img"></div>
                <div class="name">{{user.fullName}}</div>
            </div>
            <div (click)="followAction(user)" [ngClass]="{'active':!user.isFollowing}" class="follow-info">
                {{ user.isFollowing ? 'Takibi Bırak' : 'Takip Et'}}
            </div>
        </div>
    </div>
</ion-content>
