<ion-header mode="ios">
  <div class="shrinkable">
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button text="" color="dark" defaultHref="/app"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button *ngIf="!isStrangerCategory" (click)="openEditCategory()">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="shareCategory()">
          <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <div class="profile" *ngIf="appService.isMobile">
      <div class="avatar">
        <img [src]="category == null ? '../../../../assets/svg/home/avatar.png' : category.mediaUrls" alt="" />
      </div>
      <div class="name mb-2" *ngIf="!isLoading">{{ category == null ? '' : category.name }}</div>
      <div class="name mb-2" *ngIf="isLoading"><ion-skeleton-text animated style="width: 100px"></ion-skeleton-text></div>
      <div class="category-info mb-2">
        {{ posts != undefined && posts.length > 0 ? posts.length : 0 }} Ürün
      </div>
    </div>
  </div>
  <ion-item detail="false" *ngIf="!isStrangerCategory && appService.isMobile" routerLink="/add-product/{{category?.id}}/0"
    style="border-top: 1px solid var(--ion-color-light);">
    <ion-label>
      <h2>{{'AddProduct' | translate}}</h2>
    </ion-label>
    <span>
      <ion-icon name="add-outline"></ion-icon>
    </span>
  </ion-item>
</ion-header>

<ion-content #scrollArea [scrollEvents]="appService.isMobile">
  <div class="profile-header" *ngIf="!appService.isMobile">
    <div class="">
      <div class="profile">
        <div class="avatar">
          <img [src]="category == null ? '../../../../assets/svg/home/avatar.png' : category.mediaUrls" alt="" />
        </div>
        <div class="name mb-2">{{ category == null ? '-' : category.name }}</div>
        <div class="category-info mb-2">
          {{ posts != undefined && posts.length > 0 ? posts.length : 0 }} Ürün
        </div>
        <div *ngIf="!appService.isMobile" (click)="shareCategory()"
          class="clickable my-2 mb-4 badge-container font-9 d-flex ion-justify-content-center ion-align-items-center">
          {{'Share' | translate}}
        </div>
      </div>
    </div>
    <ion-item detail="false" *ngIf="!isStrangerCategory" routerLink="/add-product/{{category?.id}}/0"
      style="border-top: 1px solid var(--ion-color-light);">
      <ion-label>
        <h2>{{'AddProduct' | translate}}</h2>
      </ion-label>
      <span>
        <ion-icon name="add-outline"></ion-icon>
      </span>
    </ion-item>
  </div>
  <div class="content">
    <div class="product-content">
      <div *ngIf="posts == undefined" class="center-spinner">
        <ion-spinner name="crescent" color="medium"></ion-spinner>
      </div>
      <div class="item-container">
        <ion-list>
          <app-post-item *ngIf="isLoading" [item]="null" [index]="0"></app-post-item>
          <app-post-item *ngFor="let post of posts; let i = index" [item]="post" [index]="i"></app-post-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div *ngIf="!isStrangerCategory" (click)="addProduct()" class="add-product">
    <img src="../../../assets/svg/abstract/add.svg" alt="Icon">
  </div>
</ion-content>