<ion-header mode="ios" shrink-header [scrollArea]="scrollArea">

    <div class="shrinkable">
        <ion-toolbar mode="ios">

            <ion-buttons slot="end">
                <ion-button (click)="openNotification()">
                    <img src="../../../../assets/svg/home/notification.svg" alt="Icon">
                    <ion-badge *ngIf="appService.unreadNotificationsCount > 0">{{appService.unreadNotificationsCount}}</ion-badge>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="profile">
            <div class="avatar">
                <img [src]="userData == null ? '../../../../assets/svg/home/avatar.png' : userData.profilePictureUrl"
                    alt="">
            </div>
            <div class="name">
                <span>{{userData == null? '&nbsp;' : userData.fullName}}</span>
            </div>
        </div>
    </div>
    <div class="top-tabs">
        <div class="tab-container">
            <div>Etkinlikler</div>
            <div (click)="openCreate()" class="active">
                <span class="mr-1"> <img style="filter: contrast(3) brightness(0) invert(1);" class="plus-icon"
                        src="../../../../assets/svg/home/plus.svg" alt="Icon"></span>
                Etkinlikler Ekle
            </div>
        </div>
        <div class="d-flex ">

        </div>
    </div>
</ion-header>

<ion-content #scrollArea [scrollEvents]="true" [fullscreen]="true">
    <div class="content main">

        <div>
            <div class="d-flex ion-padding-horizontal ion-align-items-center ion-justify-content-between mb-4 mt-4">
                <div class="date-info">
                    {{viewTitle}}
                </div>
                <div>
                    <button class="month-today-button" ion-button [disabled]="isToday" (click)="today()">Bugün</button>
                </div>
            </div>
            <calendar [markDisabled]="markDisabled" [lockSwipeToPrev]="lockSwipeToPrev" [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
                [monthviewEventDetailTemplate]="detailTemplate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
                (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
                (onTimeSelected)="onTimeSelected($event)" [step]="calendar.step" noEventsLabel="Etkinlik bulunamadı"
                allDayLabel="">
            </calendar>
        </div>

        <div style="min-height: 500px;">
            <h3 class="my-3 px-3">
                <img src="../../../../assets/svg/activity/upcoming.svg" alt="Icon" style="margin-bottom: -8px">

                Yaklaşan Etkinlikler
            </h3>

            <ion-list class="activity-list" *ngIf="upcomingEvents">
                <ion-item *ngFor="let activity of upcomingEvents" (click)="openEdit(activity)">
                    <span class="activity-date">{{ activity.startTime | date: 'dd/MM/yyyy' }}</span>
                    <span class="dot"></span>
                    <span class="activity-title">{{ activity.title }}</span>
                </ion-item>
            </ion-list>

            <div class="px-3 text-2" *ngIf="upcomingEvents == null">
                Yaklaşan etkinlik bulunamadı.
            </div>
        </div>

    </div>
</ion-content>

<ng-template #detailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel">
    <ion-list class="activity-list" *ngIf="selectedDate.hasEvent">
        <ion-item *ngFor="let activity of selectedDate.events" (click)="openEdit(activity)">
            <span class="activity-date">{{ activity.startTime | date: 'dd/MM/yyyy' }}</span>
            <span class="dot"></span>
            <span class="activity-title">{{ activity.title }}</span>
        </ion-item>
    </ion-list>
</ng-template>