<ion-content>
  <div class="main-container">
    <div class="logo-container">
      <img src="../../../assets/svg/intro/logo-intro.svg" alt="Logo">
    </div>
    <div class="icon-container">
      <div (click)="presentActionSheet()" class="rounded-icon-content" [hidden]="isLoggedIn">
        <img src="../../../assets/svg/intro/arrow-down.svg" alt="Icon">
      </div>
      <div class="dot-container">
        <img src="../../../assets/svg/intro/dots-horizontal.svg" alt="Icon">
      </div>
    </div>
  </div>
</ion-content>
