<ion-content>
  <div class="main">
    <div class="top-container">
      <div class="page-title ion-margin-top ion-text-center">
        Etkinlik ekle
      </div>
    </div>
    <div class="main-content">
      <div routerDirection="back" routerLink="/tabs/calendar" class="exit-container">
        <img src="../../../assets/svg/abstract/exit.svg" alt="Icon">
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Başlık"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="İlgili kategori"></ion-input>
      </div>
      <div class="ion-margin-bottom toogle-container">
        <div>Bu panayo gizle</div>
        <div>
          <ion-toggle color="primary"></ion-toggle>
        </div>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Başlangıç"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Bitiş"></ion-input>
      </div>
      <div class="mb-32">
        <ion-input placeholder="Açıklama"></ion-input>
      </div>
      <div>
        <button routerLink="choose-category">Oluştur</button>
      </div>
    </div>
  </div>
</ion-content>
