:host {
  color: var(--ion-color-medium);
  font-size: 0.9em;
  height: 4em;
  background-color: var(--ion-color-primary);
  display: flex;
  align-items: center;

  a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1em;

    &:hover {
      color: var(--ion-color-medium);
    }
  }

  .social-btn {
    --border-radius: 2em;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0.6em;
    --padding-end: 0.5em;
    width: 2.4em;
    height: 2.4em;
    margin-right: 1em;

    ion-icon {
      color: #fff;
      font-size: 1.4em;
    }
  }

  ion-grid {
    margin: 0 auto;
    max-width: 1440px;
    ion-row {
      padding-left: 1em;
      padding-right: 1em;
    }

    .left {
      .copyright {
        display: inline-block;
      }
    }
  }
}
