<ion-content>
  <div class="top-container">
    <span routerLink="/add-product" routerDirection="back" class="back-button">
      <img src="../../../../assets/svg/abstract/back-icon-dark.svg" alt="Icon">
    </span>
    <div class="top-avatar ion-text-center">
      <div class="name">
        Kategori seç
      </div>
      <div class="top-tabs">
        <div class="tab-container">
          <div class="active">Kategoriler</div>
          <div>Evcil Hayvanım</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="4">
          <div class="card">
            <img src="../../../../assets/svg/home/cosmetic.png" alt="Img">
          </div>
          <div class="product-title">Teknoloji</div>
          <div class="product-amount">30 ürün</div>
        </ion-col>
        <ion-col class="ion-text-center" size="4">
          <div class="card">
            <img src="../../../../assets/svg/home/cosmetic.png" alt="Img">
          </div>
          <div class="product-title">Teknoloji</div>
          <div class="product-amount">30 ürün</div>
        </ion-col>
        <ion-col class="ion-text-center" size="4">
          <div class="card">
            <img src="../../../../assets/svg/home/cosmetic.png" alt="Img">
          </div>
          <div class="product-title">Teknoloji</div>
          <div class="product-amount">30 ürün</div>
        </ion-col>
        <ion-col class="ion-text-center" size="4">
          <div class="card">
            <img src="../../../../assets/svg/home/cosmetic.png" alt="Img">
          </div>
          <div class="product-title">Teknoloji</div>
          <div class="product-amount">30 ürün</div>
        </ion-col>
        <ion-col class="ion-text-center" size="4">
          <div class="card">
            <img src="../../../../assets/svg/home/cosmetic.png" alt="Img">
          </div>
          <div class="product-title">Teknoloji</div>
          <div class="product-amount">30 ürün</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div routerLink="/add-product/add-category" class="add-container">
    <img src="../../../../assets/svg/abstract/add.svg" alt="Icon">
  </div>
</ion-content>
