<ion-header mode="ios" shrink-header [scrollArea]="scrollArea" *ngIf="appService.isMobile">
  <div *ngIf="!appService.isMobile" class="header-top"></div>

  <div class="shrinkable">
    <ion-toolbar mode="ios">
      <ion-buttons slot="end">
        <ion-button style="padding-bottom: 4px" routerLink="/app/campaign">
          <ion-icon class="gift-icon" name="gift-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="openNotification()">
          <img src="../../../../assets/svg/home/notification.svg" alt="Icon" />
          <ion-badge *ngIf="appService.unreadNotificationsCount > 0">{{appService.unreadNotificationsCount}}</ion-badge>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <div class="profile">
      <div class="avatar">
        <img
          [src]="profilePictureUrl == null || profilePictureUrl.length == 0 ? '../../../../assets/svg/home/avatar.png' : profilePictureUrl"
          alt="" />
        <div *ngIf="isMe" (click)="presentActionSheet()" class="options">
          <img src="../../../../assets/svg/abstract/add.svg" alt="Icon" />
        </div>
      </div>
      <div class="name">
        <span>{{currentUser == null ? '&nbsp;' : currentUser.fullName}}</span>
      </div>
      <div class="community">
        <div class="follower" (click)="openCommunity('follower')">
          <div class="number">
            {{currentUser == null ? 0 : currentUser.followersCount}}
          </div>
          <div class="text">{{ 'Follower' | translate }}</div>
        </div>
        <div class="following" (click)="openCommunity('following')">
          <div class="number">
            {{currentUser == null ? 0 : currentUser.followingsCount}}
          </div>
          <div class="text">{{ 'Following' | translate }}</div>
        </div>
      </div>
      <div class="d-flex mx-auto">
        <div *ngIf="!isMe" (click)="toggleUserFollow()" [ngClass]="{'active':!currentUser?.isFollowing}"
          class="my-2 badge-container font-9 d-flex ion-justify-content-center ion-align-items-center">
          {{currentUser?.isFollowing ? ('Unfollow' | translate) : ('Follow' |
          translate)}}
        </div>
        <div *ngIf="isMe" (click)="goMessage()"
          class="clickable my-2 badge-container ml-2 font-9 d-flex ion-justify-content-center ion-align-items-center">
          {{ 'Messenger' | translate }}
        </div>
        <div *ngIf="!isMe" (click)="sendMessage()"
          class="clickable my-2 badge-container ml-2 font-9 d-flex ion-justify-content-center ion-align-items-center">
          {{ 'Message' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="top-tabs">
    <div class="tab-container">
      <ion-segment [value]="selectedSegment" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="categories" [routerLink]="currentUrl" [queryParams]="{segment: 'categories'}">
          <ion-label>{{ 'Categories' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="activities" [routerLink]="currentUrl" [queryParams]="{segment: 'activities'}">
          <ion-label>{{ 'Events' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
</ion-header>

<ion-content #scrollArea [scrollEvents]="appService.isMobile" [fullscreen]="appService.isMobile">
  <div class="profile-header" *ngIf="!appService.isMobile">
    <div class="">
      <div class="profile">
        <div class="avatar">
          <img
            [src]="profilePictureUrl == null || profilePictureUrl.length == 0 ? '../../../../assets/svg/home/avatar.png' : profilePictureUrl"
            alt="" />
          <div *ngIf="isMe" (click)="presentActionSheet()" class="options">
            <img src="../../../../assets/svg/abstract/add.svg" alt="Icon" />
          </div>
        </div>
        <div class="name">
          <span>{{currentUser == null ? '&nbsp;' : currentUser.fullName}}</span>
        </div>
        <div class="community">
          <div class="follower clickable" (click)="openCommunity('follower')">
            <div class="number">
              {{currentUser == null ? 0 : currentUser.followersCount}}
            </div>
            <div class="text">{{ 'Follower' | translate }}</div>
          </div>
          <div class="following clickable" (click)="openCommunity('following')">
            <div class="number">
              {{currentUser == null ? 0 : currentUser.followingsCount}}
            </div>
            <div class="text">{{ 'Following' | translate }}</div>
          </div>
        </div>
        <div class="d-flex mx-auto">
          <div *ngIf="!isMe" (click)="toggleUserFollow()" [ngClass]="{'active':!currentUser?.isFollowing}"
            class="clickable my-2 badge-container font-9 d-flex ion-justify-content-center ion-align-items-center">
            {{currentUser?.isFollowing ? ('Unfollow' | translate) : ('Follow' |
            translate)}}
          </div>
          <div *ngIf="isMe" (click)="goMessage()"
            class="clickable my-2 badge-container ml-2 font-9 d-flex ion-justify-content-center ion-align-items-center">
            {{ 'Messenger' | translate }}
          </div>
          <div *ngIf="!isMe" (click)="sendMessage()"
            class="clickable my-2 badge-container ml-2 font-9 d-flex ion-justify-content-center ion-align-items-center">
            {{ 'Message' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="top-tabs">
      <div class="tab-container">
        <ion-segment [value]="selectedSegment" (ionChange)="onSegmentChanged($event)">
          <ion-segment-button value="categories" [routerLink]="currentUrl" [queryParams]="{segment: 'categories'}">
            <ion-label>{{ 'Categories' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="activities" [routerLink]="currentUrl" [queryParams]="{segment: 'activities'}">
            <ion-label>{{ 'Events' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>
  <div *ngIf="selectedSegment == 'categories'" class="content">
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="isMe" class="ion-text-center new-category" [size]="categoryColSize"
          routerLink="/add-category/0">
          <div class="card">
            <ion-icon name="add-outline"></ion-icon>
          </div>
          <div class="product-title">{{ 'New' | translate }}</div>
          <div class="product-amount">{{ 'Category' | translate }}</div>
        </ion-col>
        <ion-col *ngFor="let category of categories" routerLink="/app/category/{{category.id}}" [state]="category"
          class="ion-text-center" [size]="categoryColSize">
          <div class="card" [ngStyle]="{ 'background-image': 'url(' + category.mediaUrl + ')'}"></div>
          <div class="product-title">{{ category.name }}</div>
          <div class="product-amount">
            {{ category.postCount }} {{ 'Product' | translate }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-margin-top" *ngIf="!isMe && (categories == undefined || categories.length === 0)">
      <div class="ion-text-center icon-container">
        <ion-icon name="alert-outline"></ion-icon>
      </div>
      <div class="ion-margin-top info-text mt-4 ion-text-center">
        {{'NoProduct' | translate}}
      </div>
    </div>
  </div>
  <div *ngIf="selectedSegment == 'activities'" class="content">
    <ion-list class="activities">
      <ion-item detail="false" *ngIf="isMe" routerLink="/app/activity/create" [queryParams]="{activityId: 0}">
        <ion-label>
          <h2>{{ 'AddEvent' | translate}}</h2>
        </ion-label>
        <span>
          <ion-icon name="add-outline"></ion-icon>
        </span>
      </ion-item>
      <ion-item button detail="false" *ngFor="let activity of activities" (click)="openActivityEdit(activity)">
        <ion-label>
          <h2>{{ activity.name }}</h2>
          <p>{{ activity.description }}</p>
        </ion-label>
        <span>{{ getDate(activity) }}</span>
      </ion-item>
    </ion-list>
    <div class="ion-margin-top" *ngIf="activities == undefined || activities.length === 0">
      <div class="ion-text-center icon-container">
        <ion-icon name="alert-outline"></ion-icon>
      </div>
      <div class="ion-margin-top info-text mt-4 ion-text-center">
        {{'NoEvents' | translate}}
      </div>
    </div>
  </div>


</ion-content>
<app-footer *ngIf="!appService.isMobile"></app-footer>
