<ion-content>
    <div class="main">
        <div class="top-container mb-4">
      <span routerLink="/tabs/settings" routerDirection="back">
        <img src="../../../assets/svg/abstract/back-icon.svg" alt="Icon">
      </span>
            <div class="page-title ion-justify-content-center d-flex ion-align-items-center ion-margin-top ion-text-center">
                Profil ayarları
            </div>
        </div>
        <div class="main-content pt-3 px-4">
            <div class="img-container-absolute">
                <img [src]="userData?.profilePictureUrl" alt="Img">
            </div>
            <div class="arrange-button ion-text-center mb-4 mt-6" hidden>
                <button class="font-9">Düzenle</button>
            </div>
            <div class="input-container mb-5">
                <ion-input class="ion-margin-bottom" [value]="userData?.fullName" placeholder="Ad Soyad"></ion-input>
                <ion-input class="ion-margin-bottom" placeholder="E-posta"></ion-input>
                <ion-input class="ion-margin-bottom" placeholder="Numara"></ion-input>
                <ion-input class="mb-2" placeholder="Adres"></ion-input>
                <div class="ion-text-center" hidden>
                    <button class="add-address font-12">Adres Ekle</button>
                </div>
            </div>
            <div class="ion-text-center">
                <ion-button class="success" color="primary" expand="block">Kaydet</ion-button>
            </div>
        </div>
    </div>
</ion-content>
