.main {
  background: #6A40D6;
  height: 50%;

  .top-container {
    height: auto;
    padding: 26px;

    .page-title {
      width: 100%;
      font-size: 24px;
      line-height: 27px;
      color: #FFFFFF;
      margin-bottom: 24px;
    }
  }
}

.main-content {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background: #FFFFFF;
  position: relative;
  padding-bottom: 1.5rem;
  .success {
    width: 100%;
    height: 56px;
    background: #1E90FF;
    border-radius: 16px;
    font-size: 20px;
  }

  .input-container {
    .add-address {
      color: #1E90FF;
      text-decoration-line: underline;
      background: transparent;
    }

    .code-input {
      justify-content: center !important;
    }

    ::ng-deep span {
      padding: 0 !important;
      margin-right: 8px !important;
      flex: unset !important;

      input {
        border: 1px solid #6A40D6 !important;
        border-radius: 16px !important;
        width: 56px !important;
        height: 56px !important;
      }
    }

    ion-input {
      border: 1px solid #6A40D6;
      border-radius: 16px;
      height: 56px;
      padding: 1.125rem 1rem !important;
      --placeholder-color: #D5D5D5;
      --placeholder-opacity: unset;
    }
  }

  .arrange-button {
    button {
      background: transparent;
      border: 1px solid #6A40D6;
      border-radius: 8px;
      color: #6A40D6;
      height: 24px;
      width: 72px;
    }
  }

  .img-container-absolute {
    position: absolute;
    top: -50px;
    width: 124px;
    height: 124px;
    overflow: hidden;
    border-radius: 100px;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.mt-6 {
  margin-top: 5rem;
}
