<ion-content>
  <div *ngIf="isOpenCalendar" class="calendar-background"></div>
  <div class="main">
    <div class="top-container">
      <div class="page-title ion-margin-top ion-text-center">
        Ürün ekle
      </div>
    </div>
    <div class="main-content">
      <div routerDirection="back" routerLink="/category-detail/1" class="exit-container">
        <img src="../../../assets/svg/abstract/exit.svg" alt="Icon">
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="name" placeholder="Ürün Başlığı"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="url" (ionChange)="onLinkChange()" placeholder="Ürün linki"></ion-input>
      </div>
      <div *ngIf="mediaUrl != undefined && mediaUrl.length>0" class="ion-margin-bottom product-image">
        <img [src]="mediaUrl" alt="">
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="brand" placeholder="Marka"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="model" placeholder="Model"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="color" placeholder="Renk"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input [(ngModel)]="size" placeholder="Beden veya Kapasite"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-select [(ngModel)]="activityId" placeholder="Etkinlik" okText="Tamam" cancelText="İptal">
          <ion-select-option *ngFor="let activity of activities" [value]="activity.id">{{ activity.name }}</ion-select-option>
        </ion-select>
      </div>
      <!--
      <div class="ion-margin-bottom" hidden>
        <p-calendar placeholder="Takvim" (onShow)="calendarOpen()" (onClose)="calendarClose()" [(ngModel)]="date">
          <ng-template pTemplate="footer">
            <div class="calendar-input-container d-flex ion-align-items-center">
              <input [(ngModel)]="activity" class="ion-margin-end" type="text" pInputText />
              <div class="d-flex"><img src="../../../assets/svg/home/file.svg" alt="Icon"></div>
            </div>
          </ng-template>
        </p-calendar>
      </div>
    -->
      <div class="mb-32">
        <ion-input [(ngModel)]="description" placeholder="Açıklama"></ion-input>
      </div>
      <div>
        <button (click)="savePost()">Devam Et</button>
      </div>
    </div>
  </div>
</ion-content>