<ion-content>
  <div class="main">
    <div class="top-container">
      <div class="page-title ion-margin-top ion-text-center">
        Ürün ekle
      </div>
    </div>
    <div class="main-content">
      <div routerDirection="back" routerLink="/category-detail/1" class="exit-container">
        <img src="../../../assets/svg/abstract/exit.svg" alt="Icon">
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Ürün linki"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Marka"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Model"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Renk"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Beden veya Kapasite"></ion-input>
      </div>
      <div class="ion-margin-bottom">
        <ion-input placeholder="Takvim"></ion-input>
      </div>
      <div class="mb-32">
        <ion-input placeholder="Açıklama"></ion-input>
      </div>
      <div>
        <button routerLink="choose-category">Devam Et</button>
      </div>
    </div>
  </div>
</ion-content>
