.main {
  background: #6A40D6;
  height: 50%;

  .top-container {
    height: auto;
    padding: 26px;

    .page-title {
      width: 100%;
      font-size: 24px;
      line-height: 27px;
      color: #FFFFFF;
      margin-bottom: 24px;
    }
  }
}

.main-content {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background: #FFFFFF;
  padding: 48px 1.5rem;
  position: relative;
  button{
    width: 100%;
    background: transparent;
    height: 56px;
    border: 1px solid #6A40D6;
    border-radius: 16px;
    font-size: 20px;
    color: #6A40D6;
  }
  ion-input {
    border: 1px solid #6A40D6;
    border-radius: 16px;
    height: 56px;
    padding:0 1rem !important;
  }

  .exit-container {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
    top: -23px;
  }
}
.mb-32{
  margin-bottom: 32px;
}
